
/*======Media query Small identado para trabajo como s-'n' el No de columna en el grid========= */
@media (min-width: 0px) and (max-width: 670px){

    .s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12 {
      float: left;
    }
    .s-12 {
      width: 100%;
    }
    .s-11 {
      width: 91.66666667%;
    }
    .s-10 {
      width: 83.33333333%;
    }
    .s-9 {
      width: 75%;
    }
    .s-8 {
      width: 66.66666667%;
    }
    .s-7 {
      width: 58.33333333%;
    }
    .s-6 {
      width: 50%;
    }
    .s-5 {
      width: 41.66666667%;
    }
    .s-4 {
      width: 33.33333333%;
    }
    .s-3 {
      width: 25%;
    }
    .s-2 {
      width: 16.66666667%;
    }
    .s-1 {
      width: 8.33333333%;
    }
    .s-pull-12 {
      right: 100%;
    }
    .s-pull-11 {
      right: 91.66666667%;
    }
    .s-pull-10 {
      right: 83.33333333%;
    }
    .s-pull-9 {
      right: 75%;
    }
    .s-pull-8 {
      right: 66.66666667%;
    }
    .s-pull-7 {
      right: 58.33333333%;
    }
    .s-pull-6 {
      right: 50%;
    }
    .s-pull-5 {
      right: 41.66666667%;
    }
    .s-pull-4 {
      right: 33.33333333%;
    }
    .s-pull-3 {
      right: 25%;
    }
    .s-pull-2 {
      right: 16.66666667%;
    }
    .s-pull-1 {
      right: 8.33333333%;
    }
    .s-pull-0 {
      right: auto;
    }
    .s-push-12 {
      left: 100%;
    }
    .s-push-11 {
      left: 91.66666667%;
    }
    .s-push-10 {
      left: 83.33333333%;
    }
    .s-push-9 {
      left: 75%;
    }
    .s-push-8 {
      left: 66.66666667%;
    }
    .s-push-7 {
      left: 58.33333333%;
    }
    .s-push-6 {
      left: 50%;
    }
    .s-push-5 {
      left: 41.66666667%;
    }
    .s-push-4 {
      left: 33.33333333%;
    }
    .s-push-3 {
      left: 25%;
    }
    .s-push-2 {
      left: 16.66666667%;
    }
    .s-push-1 {
      left: 8.33333333%;
    }
    .s-push-0 {
      left: auto;
    }
    .s-offset-12 {
      margin-left: 100%;
    }
    .s-offset-11 {
      margin-left: 91.66666667%;
    }
    .s-offset-10 {
      margin-left: 83.33333333%;
    }
    .s-offset-9 {
      margin-left: 75%;
    }
    .s-offset-8 {
      margin-left: 66.66666667%;
    }
    .s-offset-7 {
      margin-left: 58.33333333%;
    }
    .s-offset-6 {
      margin-left: 50%;
    }
    .s-offset-5 {
      margin-left: 41.66666667%;
    }
    .s-offset-4 {
      margin-left: 33.33333333%;
    }
    .s-offset-3 {
      margin-left: 25%;
    }
    .s-offset-2 {
      margin-left: 16.66666667%;
    }
    .s-offset-1 {
      margin-left: 8.33333333%;
    }
    .s-offset-0 {
      margin-left: 0;
    }

}
/*======Media query medium identado para trabajo como m-'n' el No de columna en el grid========= */
@media (min-width: 671px) and (max-width: 1140px){

    .m-1, .m-2, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12 {
      float: left;
    }
    .m-12 {
      width: 100%;
    }
    .m-11 {
      width: 91.66666667%;
    }
    .m-10 {
      width: 83.33333333%;
    }
    .m-9 {
      width: 75%;
    }
    .m-8 {
      width: 66.66666667%;
    }
    .m-7 {
      width: 58.33333333%;
    }
    .m-6 {
      width: 50%;
    }
    .m-5 {
      width: 41.66666667%;
    }
    .m-4 {
      width: 33.33333333%;
    }
    .m-3 {
      width: 25%;
    }
    .m-2 {
      width: 16.66666667%;
    }
    .m-1 {
      width: 8.33333333%;
    }
    .m-pull-12 {
      right: 100%;
    }
    .m-pull-11 {
      right: 91.66666667%;
    }
    .m-pull-10 {
      right: 83.33333333%;
    }
    .m-pull-9 {
      right: 75%;
    }
    .m-pull-8 {
      right: 66.66666667%;
    }
    .m-pull-7 {
      right: 58.33333333%;
    }
    .m-pull-6 {
      right: 50%;
    }
    .m-pull-5 {
      right: 41.66666667%;
    }
    .m-pull-4 {
      right: 33.33333333%;
    }
    .m-pull-3 {
      right: 25%;
    }
    .m-pull-2 {
      right: 16.66666667%;
    }
    .m-pull-1 {
      right: 8.33333333%;
    }
    .m-pull-0 {
      right: auto;
    }
    .m-push-12 {
      left: 100%;
    }
    .m-push-11 {
      left: 91.66666667%;
    }
    .m-push-10 {
      left: 83.33333333%;
    }
    .m-push-9 {
      left: 75%;
    }
    .m-push-8 {
      left: 66.66666667%;
    }
    .m-push-7 {
      left: 58.33333333%;
    }
    .m-push-6 {
      left: 50%;
    }
    .m-push-5 {
      left: 41.66666667%;
    }
    .m-push-4 {
      left: 33.33333333%;
    }
    .m-push-3 {
      left: 25%;
    }
    .m-push-2 {
      left: 16.66666667%;
    }
    .m-push-1 {
      left: 8.33333333%;
    }
    .m-push-0 {
      left: auto;
    }
    .m-offset-12 {
      margin-left: 100%;
    }
    .m-offset-11 {
      margin-left: 91.66666667%;
    }
    .m-offset-10 {
      margin-left: 83.33333333%;
    }
    .m-offset-9 {
      margin-left: 75%;
    }
    .m-offset-8 {
      margin-left: 66.66666667%;
    }
    .m-offset-7 {
      margin-left: 58.33333333%;
    }
    .m-offset-6 {
      margin-left: 50%;
    }
    .m-offset-5 {
      margin-left: 41.66666667%;
    }
    .m-offset-4 {
      margin-left: 33.33333333%;
    }
    .m-offset-3 {
      margin-left: 25%;
    }
    .m-offset-2 {
      margin-left: 16.66666667%;
    }
    .m-offset-1 {
      margin-left: 8.33333333%;
    }
    .m-offset-0 {
      margin-left: 0;
    }
}
/*======Media query large identado para trabajo como s-'n' el No de columna en el grid========= */
@media (min-width: 1141px) {

    .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
      float: left;
    }
    .l-12 {
      width: 100%;
    }
    .l-11 {
      width: 91.66666667%;
    }
    .l-10 {
      width: 83.33333333%;
    }
    .l-9 {
      width: 75%;
    }
    .l-8 {
      width: 66.66666667%;
    }
    .l-7 {
      width: 58.33333333%;
    }
    .l-6 {
      width: 50%;
    }
    .l-5 {
      width: 41.66666667%;
    }
    .l-4 {
      width: 33.33333333%;
    }
    .l-3 {
      width: 25%;
    }
    .l-2 {
      width: 16.66666667%;
    }
    .l-1 {
      width: 8.33333333%;
    }
    .l-pull-12 {
      right: 100%;
    }
    .l-pull-11 {
      right: 91.66666667%;
    }
    .l-pull-10 {
      right: 83.33333333%;
    }
    .l-pull-9 {
      right: 75%;
    }
    .l-pull-8 {
      right: 66.66666667%;
    }
    .l-pull-7 {
      right: 58.33333333%;
    }
    .l-pull-6 {
      right: 50%;
    }
    .l-pull-5 {
      right: 41.66666667%;
    }
    .l-pull-4 {
      right: 33.33333333%;
    }
    .l-pull-3 {
      right: 25%;
    }
    .l-pull-2 {
      right: 16.66666667%;
    }
    .l-pull-1 {
      right: 8.33333333%;
    }
    .l-pull-0 {
      right: auto;
    }
    .l-push-12 {
      left: 100%;
    }
    .l-push-11 {
      left: 91.66666667%;
    }
    .l-push-10 {
      left: 83.33333333%;
    }
    .l-push-9 {
      left: 75%;
    }
    .l-push-8 {
      left: 66.66666667%;
    }
    .l-push-7 {
      left: 58.33333333%;
    }
    .l-push-6 {
      left: 50%;
    }
    .l-push-5 {
      left: 41.66666667%;
    }
    .l-push-4 {
      left: 33.33333333%;
    }
    .l-push-3 {
      left: 25%;
    }
    .l-push-2 {
      left: 16.66666667%;
    }
    .l-push-1 {
      left: 8.33333333%;
    }
    .l-push-0 {
      left: auto;
    }
    .l-offset-12 {
      margin-left: 100%;
    }
    .l-offset-11 {
      margin-left: 91.66666667%;
    }
    .l-offset-10 {
      margin-left: 83.33333333%;
    }
    .l-offset-9 {
      margin-left: 75%;
    }
    .l-offset-8 {
      margin-left: 66.66666667%;
    }
    .l-offset-7 {
      margin-left: 58.33333333%;
    }
    .l-offset-6 {
      margin-left: 50%;
    }
    .l-offset-5 {
      margin-left: 41.66666667%;
    }
    .l-offset-4 {
      margin-left: 33.33333333%;
    }
    .l-offset-3 {
      margin-left: 25%;
    }
    .l-offset-2 {
      margin-left: 16.66666667%;
    }
    .l-offset-1 {
      margin-left: 8.33333333%;
    }
    .l-offset-0 {
      margin-left: 0;
    }
}
/*=========cycle2 slider estilos====================*/
#outside{
  position: relative;
  color:#212121;
  font-family: inherit;
}
#outside .cycle-slideshow img{
  width: 100%;
  height: auto;
}
#outside>.nav{
  position: absolute;
  top:50%;
  z-index: 999;
  width: 100%;
}
.nav>.next{
  float: right;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  opacity: .4;
  text-align: right;

}
.nav>.next:hover{
  float: right;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  background-color: #FFF;
  opacity: .6;
  transition: .2s;
}
.nav>.next img{
  width: 80%;
  height: auto;
 }
.nav>.prev{
  float: left;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  opacity: .4;
  transition: .2s;
}
.nav>.prev:hover{
  float: left;
  padding: 1%;
  cursor: pointer;
  height: 100%;
  background-color: #FFF;
  opacity: .6;
}
.nav>.prev img{
  width: 80%;
  height: auto;
 }
 #progress{
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0px;
  background-color: #c00;
  z-index: 500;
 }
