html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
section{
  clear: both;
}
.wrapper{
  margin:0 auto;
  background-color: transparent;
  width: auto;
  float: none;
  max-width: 650px;
  min-height: 1px;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}
.row{
  float: left;
  position: relative;
  width: 100%;
}

/*=====Estilos Especiales=====*/
.latino{
  transition: 0.5s ease;
  cursor: pointer;
}
#toggle{
  margin: 10px 0px;
  width: 100%;
  display: block;
  clear: both;
  float: left;
}
#toggle .btn{
  width: 33%;
  padding: 1% 0;
  text-align: center;
  margin: 0;
  border: solid 1px #666;
  float: left;
  position: relative;
  color: #666;
}
 .push-l{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.push-r{
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;
}
#toggle .btn.active{
  background-color:#277DB4;
  color: #fff;
  border: solid 1px #333;
}
.paises{
  width: 100%;
  margin: 2% 0%;
  float: left;
  position: relative;
}
.paises li{
  margin: 0% 7px;
  padding: 5px 0px;
  font-size: .9rem;
  width: 22%;
  color: #666;
  border: 1px solid #666;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}

.paises li.active,.paises li:hover{
  color: #277DB4;
  border: 1px solid #277DB4;
}


.rutas{
  width: 100%;
  margin: 2% 0%;
  float: left;
  position: relative;
}
.rutas li{
  margin: 0% 7px;
  padding: 5px 0px;
  font-size: .9rem;
  width: 30%;
  color: #666;
  border: 1px solid #666;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}

.rutas li.active,.rutas li:hover{
  color: #277DB4;
  border: 1px solid #277DB4;
}

g#rutaDelGolfo,g#rutaDelCentro,g#rutaDelPacifico,g#frontera{
  display: none;
}

g.ruta-activa{
  display: block !important;
  transition: 0.5s ease;
}

#encabezado h3{
    font-size: 1.4rem;
    font-weight: 200;
    margin: 1% 0%;
    text-align: center;
    color: #666;
}
#encabezado h2{
    font-size: 2.1rem;
    font-weight: 500;
    margin: 1% 0%;
    text-align: center;
    color: #00114F;
}

#graficos-migrantes{
  overflow: hidden;
}

.graficas{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 44%;
  -webkit-box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  background-color:#FFF;
  opacity: .7;
}

.lateral-mapa{
  position: absolute;
  width: 40%;
  height: 100%;
  left: -100%;
  background-color: #fff;
  top: 0px;
  border-left: #f2f2f2 solid 1px;
  overflow-y: auto;
  -webkit-box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 47px -7px rgba(0,0,0,0.75);
  opacity: .7;
}

.lateral-mapa > div{
  width: 90%;
  margin: 10px auto;
}

.lateral-mapa > div h2{
  text-align: center;
}

.pais-active{
  fill:#277DB4 !important;
  stroke:#999999;
  stroke-miterlimit:10;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.m-2{
    margin-top: 2%;
    margin-bottom: 2%;
}
.bg-1 {
  color: #fff;
  background-color: #337ab7;
}
.bg-2 {
  color: #fff;
  background-color: #337ab7;
}
.bg-3 {
  color: #fff;
  background-color: #337ab7;
}

.img-centrada{
  vertical-align: middle;
  width: 100%;
}
.img-responsive
 {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/*========= Textos Tamaños y Colores =================*/
.tittle{
  color: #FFF;
  text-align: center;
  line-height: 1.1em;
  margin:15% auto 0;
  padding: 2% 0%;
  width: 70%;

}
.tittle h1{
  font-size: 42px;
  color: #FFF;
  font-weight: 500;
  line-height: 1em;
  margin: 3% 0;
  text-align: center;
  text-transform: uppercase;
}
.tittle p {
  font-size: 16px;
  color: #FFF;

  font-weight: lighter;
  line-height: 1.1em;
  text-align: center;

}
.tittle #textos{
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1.1em;
  margin: 3% auto;
  text-align: center;

}
.tittle a.fa {

  text-align: center;
  margin:5% 0;

}
p {
  margin: 10px  0px;
}
p .txt{
  font-family: inherit;
  max-width: 600px;
  font-size: 14px;
  line-height: 1.1em;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
.txt-nowrap {
  white-space: nowrap;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-capitalize {
  text-transform: capitalize;
}
/*========= Textos  Colores =================*/
.txt-w{
  color: #FFF;
}
.txt-muted {
  color: #777;
}
.txt-primary {
  color: /*#337ab7*/;
}
.txt-secondary {
  color: /*#337ab7*/;
}
.txt-third {
  color: /*#337ab7*/;
}


/*Listas ordenadas y desordenadas*/


.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}

.s-1, .m-1,  .l-1, .s-2, .m-2,  .l-2, .s-3, .m-3, .l-3, .s-4, .m-4,  .l-4, .s-5, .m-5,  .l-5, .s-6, .m-6,  .l-6, .s-7, .m-7,  .l-7, .s-8, .m-8,  .l-8, .s-9, .m-9,  .l-9, .s-10, .m-10,  .l-10, .s-11, .m-11, .l-11, .s-12, .m-12,  .l-12 {
  position: relative;
  min-height: 1px;
}

.tabla-paises,.tabla-detalle{
  width: 100%;
}
.tabla-paises thead,.tabla-detalle thead{
  background-color: #E5E5E5;
}

.tabla-paises th,.tabla-detalle th{
  padding: 5px;
}

.tabla-paises td,.tabla-detalle td{
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
}

.tabla-paises tr:hover .cont-mini-barra div,.tabla-detalle tr:hover .cont-mini-barra div{
  background-color: #00114F !important;
}

/*.tabla-detalle div{
  text-align: center;
  border: solid 1px #f2f2f2;
  float: left;
  display: block;
}*/

.tabla-detalle .tabla-titulos{
  background-color: #E5E5E5;
  width: 100%;
  float: left;
  clear: both;
}


.tabla-paises, .tabla-detalle {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    clear: both;
}


.tabla-titulos {
    background-color: #E5E5E5;
    width: 100%;
    float: left;
    clear: both;
}




.row-tabla{
  width: 100%;
  float: left;
  clear: both;
  display: block;
}

.row-tabla > div{
  width: 33.33%;
  display: block;
  float: left;
  border: 0px;
  padding: 5px 0px;
}

.tabla-contenido{
  width: 100%;
    height: auto;
    float: left;
    display: block;
}

.tabla-paises td:nth-child(n+3){
  width: 100px;
}

.tabla-detalle td:nth-child(n+3){
  width: 60px;
}

.cont-mini-barra{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: block;
  float: left;
  background-color: #E1E1E1;
  cursor: pointer;
  transition: 0.5s ease;
  overflow: hidden;
  }



  .cont-mini-barra div{
        background-color: #00CBC3;
        height: 16px;
        float: left;
        display: block;
  }

  .cont-mini-barra:hover div{
    background-color: #00114F;
  }

  #cerrarVerMas{
    text-align: right;
    padding: 10px;
    display: block;
  }

  #migrantes{
    display: block;
    clear: both;
    float: left;
    width: 100%;
    height: auto;
  }

  .cycle-slideshow { width: 100% }
  .cycle-slideshow > div{ width: 100%; height: auto; overflow-x: hidden;}

@media (max-width:421px) and (min-width:321px){

  section{
    width: 94% !important;
    margin: auto !important;
  }

  .list-inline > li {
    display: inline-block;
    width: 44% !important;
    margin-bottom: 10px;

}

.graficas {
    position: relative;
    width: 100%;
    height: auto;
}

.lateral-mapa{
  width: 100%;
}

}

@media (max-width:320px) and (min-width:1px) {

  section{
    width: 94% !important;
    margin: auto !important;
  }


  .list-inline > li {
    width: 95% !important;
    margin-bottom: 10px;
}

.graficas {
    position: relative;
    width: 100%;
    height: auto;
}

.lateral-mapa{
  width: 100%;
}

}

@import "grilla.css"
