<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="15 57.9 680 486.1" style="enable-background:new 15 57.9 680 486.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;stroke:#606060;stroke-miterlimit:10;}
	.st1{fill:#C8E1FF;stroke:#424242;stroke-miterlimit:10;}
	.st2{fill:#EDEDED;stroke:#606060;stroke-miterlimit:10;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#FFFFFF;stroke:#3F3F3F;stroke-width:2;stroke-miterlimit:10;}
	.st5{fill:none;}
	.st6{fill:#3A3A3A;}
	.st7{font-family:'BentonSans-Regular';}
	.st8{font-size:15px;}
	.st9{fill:#565656;}
	.st10{font-family:'BentonSans-Bold';}
	.st11{font-size:34px;}
</style>
<g id="Capa_1">
	<path id="dominicana" class="st0" d="M677,310.9c-0.4-0.6-5.9-4.6-6.8-4.7c-0.9-0.1-3.1-0.2-4-0.7c-0.8-0.5-3.6,0.2-4.5-0.7
		c-0.8-1-3.9-1.9-4.7-2.3s-4.2-1.1-3.4-1.5s6.3,0.8,8.8,0.8s3.7-1.4,2.7-1.9c-1.1-0.5-6.1,0-6.9-1.2c-0.7-1.2-0.7-3.9-1.9-4.1
		s-4,1.1-5.2,0s-2.7-2.2-4.9-2.2s-4.8-1.7-6.8-1.4c-1.9,0.2-4.3,0.5-5.3,0.5s-4,0.5-4.1,1s-0.6,2.3-1.4,2.5c0.3,1,0.3,1.9-0.6,2.7
		c-0.2,1.1,0.1,1.6,0.3,2.5c0.3,1-0.1,1.5-0.6,2.5c-0.4,0.8-0.5,1.6-0.8,2.3c-0.6,1.1-1.2,0.8-0.8,2.4c1,3.7-0.4,7.1-2.6,9.9
		c-0.3,0.4-0.5,0.7-0.6,1c0.9-0.2,1.9-0.2,2.1,0.4c0.4,1.2,2.3,2.1,1.5,3s-2.5,1.9-1.5,2.6c1.1,0.7,2.4,0.1,3.5,2.3
		c0.2,0.3,1.2,1.6,1.9,0.6s0.7-1.9,1.7-2.9s3.4-3.6,3.4-4.7c0-1.1,0.6-4.7,1.3-4c0.7,0.7,1.6,1.9,2.5,1.6c1-0.4,0.8-4.1,2.3-3.3
		c1.4,0.9,2,4.7,3.8,4.8s4.1-1.5,5.3-2.3c1.2-0.8,2.9-2.7,4.8-2.5c1.9,0.1,5.9,0.2,6.5,0c0.6-0.2,1.9-1.5,2.4-1
		c0.5,0.4,1,1.6,2.5,1.6c1.6,0,4.7,1.6,5.7,0.8c1-0.7,1.8-1.7,2.7-1.7C676.2,313.7,677.3,311.5,677,310.9z"/>
	<path id="haiti" class="st0" d="M628.3,300.2c0.3,1-0.1,1.5-0.6,2.5c-0.4,0.8-0.5,1.6-0.8,2.3c-0.6,1.1-1.2,0.8-0.8,2.4
		c1,3.7-0.4,7.1-2.6,9.9c-0.3,0.4-0.5,0.7-0.6,1c-0.8,0.1-1.6,0.4-2,0.4c-1,0.2-1.1-1.4-1.9-1.8c-0.8-0.5-0.4,0.8-0.2,1.8
		c0.1,1-9.3-0.5-10.1-0.8c-0.8-0.3-7-1-8.2-0.9s-0.6,2.3-1.3,3.3s-3.1-2.5-3.6-3.6s-3-0.4-4.3-0.5s-1.1-2.7-0.5-3.3
		c0.6-0.7,1.9-2.5,3.3-2.9c1.3-0.5,1.4,1.4,2.7,2c1.2,0.6,2.8-0.8,3.9-1.2c1.1-0.4,1.5,1,1.8,2.1c0.4,1.1,2.3-1.1,2.9-1.5
		c0.7-0.4,3.8,1.2,4.9,1.5c1.1,0.3,3.7,0.3,4.7-0.5c1-0.9,3.6-0.1,6.3-0.1s-1-2.9-1.7-3.8c-0.7-0.8-3.4-1.8-4.2-2.4
		c-0.8-0.6,0-2.7,0.2-3.4c0.2-0.7,0.4-1.6-0.2-1.9c-0.6-0.4-0.6-1.4-0.5-2.5s-5.7-2.6-6.8-3s-1.9-1.2-2.6-2.7
		c-0.7-1.5,4.2-0.6,5.5-0.6s3.4,1.1,3.4,1.1l0.8-1.2c0,0,5.5,0.5,6.3,0.4c0.7-0.1,0.8,1.2,1.3,2.4c0.5,1.2,4.9,0.4,5.9,0.4h0.1
		c0.3,1,0.3,1.9-0.6,2.7C627.8,298.8,628.2,299.3,628.3,300.2z"/>
	<path id="jamaica" class="st0" d="M559.2,321.8c0.7-0.2,0.7,0.4,2.3,0.5s5.2,0.9,4.9-0.6s-2.5-3.5-3.6-3.6
		c-1.1-0.1-3.3-0.6-3.6-2.4c-0.4-1.8-0.2-2.8-2.7-3c0,0-9.8-0.2-11,0c-1.2,0.2-2.7,1.4-4.2,1.3c-1.6-0.1-4.1-1-4.9-0.1
		c-0.8,0.8-2,1.7-1.1,3c1,1.3,4.6,0.5,5.3,1.8c0.7,1.3,1.3,4.5,3.1,4.8c1.8,0.4,3.3-1.8,4.3,0c1.1,1.8,3.7,2.7,4.6,1.9
		c0.8-0.7-0.1-3.9,1.4-3c1.6,0.8,2.2,2.4,3.3,1.7C558.5,323.4,557.8,322.3,559.2,321.8z"/>
	<path id="el-salvador" data-pais="el-salvador" class="st1 latino" d="M401.8,387.6c-0.1,0.1-0.1,0.1-0.1,0.3c-1.3,4.4-4.4,6-6.2,6.1s-4.5-2.3-6-5.6
		c-0.3-0.7-2.4-0.7-2.8,0c-0.3,0.7,1.2,2.5,0.9,3.2c-1.8,3.9-5.2-3.7-18.3-7.2c-0.7-0.2-1.5-0.4-2.2-0.5c0.3-1.1,0.7-2.2,1.3-3.1
		c0.9-1.3,3.3-1.7,4.7-2.3c0.8-0.4,1.8-0.6,2.5-1.1c0.8-0.6,0.9-1.3,1.5-2c1-1.1,2.6-1.8,3.6-3.1c0.5,0.5,0.9,1.1,1.4,1.5
		c0.8,0.7,2.2,1.2,2.7,2.2c1.7,0.1,4.6-0.8,6,0.6c0.3,0.4,0.3,0.8,0.6,1.2c0.3,0.4,0.7,0.3,1,0.7c0.5,0.6,0.7,2.1,0.9,2.9
		c2,0.4,2.1-1.9,3.5-2.6c1.3-0.6,3.5,0,3.9,1.2c0.3,0.7,0,1.7,0.3,2.5c0.3,0.9,0.6,1.4,0.7,2.4C401.7,385.7,401.8,386.7,401.8,387.6
		z"/>
	<path id="guatemala" class="st1 latino" data-pais="guatemala" d="M396.8,353.1c-0.4,0.8-1,1.5-1.5,2c-0.3,0.3-0.7,0.4-0.9,0.7s0,0.8-0.2,1.1
		c-0.4,0.6-1.2,0.5-1,1.5c-0.7,0.4-1.2,1.2-1.9,1.7c-1,0.6-1.7,0.4-2.7,0.6c-1.8,0.4-2.5,2.2-4.1,3.3c-0.7,0.5-1.5,0.9-2.2,1.4
		c-1.1,0.8-1,1-0.5,2.1c0.5,1,0.6,1,0.1,2c-0.4,0.8-0.5,1.8-1,2.5c0,0.1-0.1,0.2-0.1,0.2c-0.9,1.2-2.6,2-3.6,3.1
		c-0.6,0.7-0.7,1.5-1.5,2c-0.7,0.5-1.7,0.7-2.5,1.1c-1.5,0.6-3.8,1-4.7,2.3c-0.6,0.9-1,2-1.3,3.1c-6.1-1.3-12.5-1.6-18.1-3.8
		c-3.3-1.3-4.3-2.7-6.8-5.2c-0.9-0.9-3-1.6-3.4-2.8v-0.1c-0.4-2.5,1.6-1.4,1.9-3.1c0.7-3.6-0.6-6.1,0.9-9.7c1-2.4,3.2-5.7,4.9-7.6
		c5.5-6.2,11.9-1.9,20.2-3.5c2.1-0.4-0.8-1.8-3.1-4.3c-0.8-0.8-0.6-3.6-1.5-4.4c-0.8-0.7-3-0.7-3.9-1.4c-2.6-2-3.7-4.5-5.2-5.6
		c-2.7-2.1,4.8-1.1,4.8-1.1l0.4-7.2c0,0,16.2,1,24-1.1c0.1,0,0.1,0,0.2-0.1c0.1,7.5,0.3,22.9,0.6,27.3c1.3,0.1,2.6,0,3.9,0
		c0,0.3,0,0.7,0.2,1c1.1,2.9,3.7,1.3,6.9,1.2C395,352.3,395.8,352.7,396.8,353.1z"/>
	<path id="honduras" class="st1 latino" data-pais="honduras" d="M467.3,364.3c0,0.3-0.2,0.8-0.4,1.4c-1.6,0-3.1-0.5-4.6-1.1c-1.1-0.4-1.4-0.8-2,0.3
		c-0.5,0.9-0.3,1.4-1.6,1.7c0,0.1,0,0.1,0,0.2c-0.7,0.1-1.7,0.6-2.4,0.9c-0.8,0.4-1.1,1-1.8,1.4c-0.4,0.3-0.8,0.2-1.2,0.5
		c-0.4,0.2-0.4,0.7-0.9,1c-0.8,0.4-2,0-2.9,0c-1.2,0-1.5-0.1-2.3-1c-0.6-0.7-1-1.2-2.2-1c-1.5,0.3-0.2,1-0.9,2.1
		c-0.5,0.8-1.7,0-2.5,0.1c-1.2,0.2-1.9,2-2.3,3c-0.5,1.3-1.6,2-2,3.2c-1.4,0.8-3.2,1.8-4.4,2.8c-0.8,0.6-0.9,1-1.9,1.2
		c-0.9,0.2-1.8,0.3-2.8,0c-1.7-0.5-3.1-1.3-4.9-1.2c-1.7,0.1-3.6,1.1-5.2,1.7c-0.9,0.3-1.5,0.7-2.5,0.7c-1.3,0.1-1.9-0.4-1.8,1.2
		c0.1,1.9,0.2,3.8-0.2,5.7c-0.5,1.9-0.8,3.4-3,3.8c-1,0.2-2.1,0.1-3.2,0c-0.2-1.8-4.6-6.7-5.6-5.3c-0.1-0.9-0.2-1.9-0.2-2.7
		c-0.1-1-0.4-1.5-0.7-2.4c-0.2-0.8,0-1.8-0.3-2.5c-0.4-1.2-2.7-1.8-3.9-1.2c-1.4,0.7-1.5,3-3.5,2.6c-0.2-0.7-0.4-2.3-0.9-2.9
		c-0.3-0.4-0.7-0.3-1-0.7c-0.3-0.4-0.3-0.8-0.6-1.2c-1.3-1.5-4.2-0.5-6-0.6c-0.4-1-1.8-1.5-2.7-2.2c-0.5-0.4-0.9-1-1.4-1.5
		c0.1-0.1,0.1-0.2,0.1-0.2c0.4-0.7,0.6-1.7,1-2.5c0.5-1,0.4-0.9-0.1-2c-0.6-1.1-0.6-1.3,0.5-2.1c0.7-0.5,1.4-0.9,2.2-1.4
		c1.6-1.1,2.2-2.9,4.1-3.3c1.1-0.2,1.7,0,2.7-0.6c0.7-0.4,1.2-1.3,1.9-1.7c-0.2-1.1,0.6-0.9,1-1.5c0.2-0.4,0-0.8,0.2-1.1
		s0.6-0.4,0.9-0.7c0.5-0.5,1.1-1.3,1.5-2c1.4,0.6,3.1,1.3,7.3,0.5c2.7-0.6,9-1.2,14-1.2c3.5,0,6.1,1.6,6.6-0.8
		c0.2-0.9-0.1-1.8,0.4-2.4c2.8-3.1,4.2,4.2,13.3,3.5c6.5-0.5,19.8-0.1,19.2,3.7c-0.5,2.9-9.3-1.4-8.6,1.4c0.5,2,3.2,1.8,6.2,2.6
		c2.5,0.6,5.2,2.4,6.4,0.8c0.5-0.7-0.7-2.8,0.2-2.8C465,358.5,467.5,360.9,467.3,364.3z"/>
	<path id="nicaragua" class="st1 latino" data-pais="nicaragua" d="M460.5,387.3c-0.2,1.5,0.6,3.1,0.6,4.5c-0.1,1.4-0.8,2.6-1,3.9c-0.3,3.1,2.7,6.8,0.3,9
		c-2.4,2.1-0.5-5.7-2.9-6.1c-1.2-0.2-0.4,4.1-0.9,7.4c-0.5,3.5-2.3,6.1-0.8,6.5c0.8,0.2,1.2-1.6,1.7-1.3c3.4,1.3-2.3,5.8-2.4,9.1
		c0,1,1.8,2.1,2,3.4c0.1,0.5-1.5,2-1.8,2.8c-1.1,0.4-2.3,0.5-3-0.2c-0.6-0.6-1.1-1.3-1.8-1.9c-0.7-0.7-1.5-1-2.2-1.6
		c-0.6-0.5-0.9-1.4-1.7-1.8c-0.8-0.4-1.8-0.1-2.6,0c-0.9,0.1-2.2,0.3-2.7-0.4c-0.1-0.1-0.1-0.1-0.1-0.2c-0.3-0.7-0.2-1.9-0.4-2.6
		c-0.4-1.6-0.8-3.3-1.6-4.7c-1.1-1.9-2.1-2.2-4.2-2.5c-1.7-0.2-3.2-0.8-4.8-1.7c-0.8-0.4-1.6-1.2-2.7-0.9c-1,0.4-0.7,1.4-0.8,2.4
		s-0.1,1.9,0.4,2.8c0.4,0.7,1.1,1.1,1.5,1.9c0.6,1.4,1.3,3.7,3.3,3.6l-0.1,0.1c-1.3,1-2.9,0.6-4.2,1.4c-0.7,0.5-1.3,1.1-2,1.6
		c-0.1-0.2-0.2-0.3-0.3-0.5c-2.9-6.1-8.3-8.7-12.7-13.8c-2-2.4-15.2-15.1-5.7-14.2c0.5,0,0.7-0.2,0.6-0.6c1.1,0.1,2.2,0.1,3.2,0
		c2.2-0.3,2.6-1.8,3-3.8c0.5-1.9,0.4-3.8,0.2-5.7c-0.1-1.6,0.4-1.2,1.8-1.2c1-0.1,1.6-0.4,2.5-0.7c1.6-0.6,3.5-1.6,5.2-1.7
		c1.9-0.1,3.2,0.7,4.9,1.2c1,0.3,1.9,0.2,2.8,0c1-0.3,1.1-0.6,1.9-1.2c1.2-1,3-2,4.4-2.8c0.4-1.2,1.6-1.9,2-3.2c0.4-1,1.1-2.8,2.3-3
		c0.8-0.1,2,0.7,2.5-0.1c0.7-1.1-0.6-1.8,0.9-2.1c1.2-0.2,1.6,0.3,2.2,1c0.8,0.9,1,1,2.3,1c0.9,0,2.1,0.3,2.9,0
		c0.5-0.2,0.5-0.7,0.9-1c0.4-0.2,0.8-0.2,1.2-0.5c0.7-0.5,0.9-1.1,1.8-1.4c0.7-0.3,1.6-0.7,2.4-0.9c0-0.1,0-0.1,0-0.2
		c1.3-0.3,1.1-0.8,1.6-1.7c0.6-1.2,0.9-0.8,2-0.3c1.5,0.6,3,1.1,4.6,1.1c-0.4,1.2-1.1,2.8-1.2,3.8c-0.3,1.9-1.5,4.1-0.4,5.7
		C468.7,379.8,461,384.5,460.5,387.3z"/>
	<path id="costaRica" class="st2" d="M469.2,454.2c-0.3,0.9-1,1.5-1.3,2.4c-0.2,0.8-0.3,1.9-0.1,2.8c0.1,0.4,0.2,0.8,0.4,1.3
		c-0.7,1,0.5,3.9-0.9,4.3c-2.5,0.8-2.9-4.5-3.9-6.7c-0.6-1.4-2.6-3.4-3.7-2.4c-2,1.7,4.7,8,2.3,7.1c-8.3-3-7-5.2-7.6-9.3
		c-0.9-5.5,0.6-3.4-4.3-6.7c-4.1-2.7-4.7-3.7-7.2-7.6c-1.7-2.7-5.1-8.5-7.6-6.2c-2.4,2.3,5.7,7.7,3.1,10c-2,1.8-1.6-1.3-3.9-2.9
		c-4.2-2.9-12.2-3.9-9-8.6c0.5-0.7,2.6-1.4,2.9-2.3c0.8-2.1-0.4-1.5-0.4-2.6c-0.1-2.1-1.1-2.8-2.2-4.8c0.7-0.5,1.3-1.2,2-1.6
		c1.4-0.9,2.9-0.5,4.2-1.4c0.2,0,0.4,0.1,0.6,0.2c1,0.4,2.4,1.2,3.3,1.7c1,0.6,2.5,1.5,3.6,1.5c1.3,0,1.5-1,1.8-2
		c0,0.1,0.1,0.2,0.1,0.2c0.5,0.6,1.9,0.5,2.7,0.4c0.8-0.1,1.8-0.4,2.6,0c0.7,0.4,1,1.3,1.7,1.8c0.7,0.6,1.4,0.9,2.2,1.6
		c0.7,0.6,1.1,1.3,1.8,1.9c0.8,0.7,1.9,0.5,3,0.2c-0.1,0.2-0.1,0.3,0,0.5c1,1.6,3.6-1.6,4.6-0.6c1.1,1.1,0.8,6.2,1.9,7
		c1.3,1.1,2.7,2.2,4.1,3.9c1.4,1.8,2.7,4.1,4.6,6c-0.6,0.8-1.4,1.5-1.6,2.7s0,1.5-0.7,2.4c-0.4,0.5-1.3,1.3-1.2,2
		C466.8,451.8,469.8,452.4,469.2,454.2z"/>
	<path id="panama" class="st2" d="M543.7,456.6c-0.5-0.2-0.9-0.3-1.1,0c-4.8,4.2,1.4,9.5-3.2,14.5c-1.4,1.5-2.5,2.8-2.6,4.8
		c-3.1-1.5-5.8-4.3-6.8-7.1c-2.4-6.9,9.8-8.1,5.2-11.5c-3.7-2.7-2.5,5.4-6.8,1.9c-2.6-2.1-4.5-7.9-7.2-9.6c-1.9-1.3-4.8-0.2-6.7,0.9
		c-3.1,1.7-1.8,5.4-3.3,8c-2,3.6-5.5,0.6-9.2,4.2c-2.8,2.6,2.1,3,3.5,6c2.5,5.4,1,2.6-3,4.9c-2.3,1.3-3,5.9-6.9,2.1
		c-2.1-2.1,0.3-7.4-2.4-7.8c-1.5-0.2-0.9,2.4-2.4,3.2c-6.4,3.4-4.3-5.8-7.3-7.2c-4.2-1.9-3.7-4.2-7.5-3.6c-4.1,0.6-5.8-2.1-7.8,0.3
		l0,0c-0.2-0.5-0.3-0.9-0.4-1.3c-0.2-0.9-0.1-1.9,0.1-2.8c0.3-1,1-1.5,1.3-2.4c0.6-1.8-2.2-2.4-2.3-4c0-0.8,0.8-1.5,1.2-2
		c0.7-0.9,0.5-1.3,0.7-2.4c0.2-1.2,1-1.9,1.6-2.7c1.6,1.6,3.7,3,6.9,3.6c0.6,0.1,0.4,1.7,0,2.3c-0.3,0.4-1.1-0.3-1.3,0.2
		c-0.7,1.9,3.8,3,5.2,1.3c0.4-0.5-0.3-1.8,0.1-2.3c1.5-1.7,4.4,2.7,6.3,4.2c6,4.7,10.9-3.5,16.8-5.7c3.4-1.3,6.3-1.6,9.5-3
		c2.5-1,2.2-2.4,6,0.5c3.9,3,10-0.1,13.9,2.5c2.9,2,6.4,5.3,9.1,8.3C543.3,455.4,543.5,456,543.7,456.6z"/>
	<path id="belize" class="st2" d="M396.2,329.5c-0.3,2.4,1.1,6.8,0.5,9c-1.3,4.6-3.3,8.1-6.2,8.2c-1.9,0-3.7,1.7-3.7,3.5
		c-1.3,0-2.6,0.1-3.9,0c-0.2-4.4-0.5-19.8-0.6-27.3c0.7-0.4,0-1.9,1-2.1c1-0.2,1.7,0.9,2.3,0.7c1.5-0.4,2.5,0.4,4.3-1.3
		c2-1.9,2.2-4,4.1-4.8c0.3-0.1,0.6-0.2,1-0.2c1.1-0.1,2.5,0,3.6,0.1s-0.3,3.8-0.2,7.6C398.5,325.6,396.5,326.5,396.2,329.5z"/>
	<path id="mexico" class="st0" d="M422.8,272.2c-0.7,2.9-2.2,3.9-3.7,6.4c-1.3,2.1-2.6,4.2-4.4,5.9c-0.7,0.7-1.8,1.3-2.5,2.1
		c-0.9,0.9-0.8,0.6-0.8,1.9c0,0.6,0.3,1.3,0.4,2c-0.8,0.1-1.4,2-2,2.7c-0.7,0.8-1.8,1.4-2.7,2c1.8,1.4,4.3,0.3,3.6,3
		c-0.5,1.9-1.6,2.6-3.2,3.7c-0.3,2.9,2.5-0.3,3.7,0c-0.2,1.7-1.1,3.7-1.8,5.4c-0.4,1-1.3,1.8-1.6,2.9c-0.3,1.2,0,2-0.6,3.1
		c-0.5,1-2.3,4.8-3.3,4.5c-0.7-0.2-0.1-0.9-0.5-1.3c-0.3-0.3-0.8-0.4-1.1-0.7c-0.7-0.7-0.7-1.5-2-1.6c-0.1-1.8,1.6-3.8,0.8-5.4
		c-0.7,0.1-1.5,0.6-2.1,1.1c-0.2,0.6-0.2,1.1-0.2,1.7c-1.7,0.8-3.3,1.8-3.9,3.5c-0.4,0-0.7,0.1-1,0.2c-1.9,0.8-2.1,2.9-4.1,4.8
		c-1.8,1.7-2.8,0.9-4.3,1.3c-0.6,0.2-1.3-1-2.3-0.7c-0.9,0.2-0.2,1.7-1,2.1c0,0-0.1,0-0.2,0.1c-7.8,2.1-24,1.1-24,1.1l-0.4,7.2
		c0,0-7.5-1-4.8,1.1c1.4,1.1,2.6,3.6,5.2,5.6c0.8,0.7,3.1,0.7,3.9,1.4c0.9,0.8,0.8,3.6,1.5,4.4c2.4,2.5,5.2,4,3.1,4.3
		c-8.3,1.5-14.7-2.7-20.2,3.5c-1.7,1.9-3.9,5.2-4.9,7.6c-1.6,3.6-0.3,6-0.9,9.7c-0.3,1.7-2.4,0.6-1.9,3.1v0.1c-0.1,0-0.1,0-0.2-0.1
		c-1.3-1.5-3.9-4.1-5.8-5.1c-0.4-2.9-3.7-3.3-6-5.1c-1.9-1.5-4.5-3.2-6.4-5c-1.8-1.7-2.5-4.3-4.1-6.1c-1.3-1.5-3.8-4.1-6-4.4
		c-0.4,0-0.7-0.1-1.1-0.1c0.4,1.7,2.7,2.7,4,3.6c0.4,0.3,5.2,3.5,2.5,3.4c-0.3,0-1.6-1.6-1.9-1.8c-0.7-0.5-1.7-1-2.6-1.5
		c-1.3-0.6-5.6-1.2-6-2.3c0.5,0,1.6-0.1,1.8-0.8c0.4-1.3-1.1-0.8-1.8-0.9c-1.3-0.3-2.4-1.5-4-1.1c-0.1,0-1.4,1.5-1.4,1.5
		c-0.4,0.9-0.6,0.5,0.4,1.2c1.2,0.8,2.9,0.5,4.1,1.3c-2.2,0.6-6.5-0.5-8.7,1.2c-0.9,0.8-2,1.3-3,1.9c-1.2,0.6-2.6,0.5-3.8,0.9
		c-2.7,0.8-5.6,1.4-8.1,2.3c-2.5,1-5.5-0.6-8-1.6c-1.2-0.5-2.1-1.6-3.4-1.8c-1.5-0.3-2.7-0.4-4.2-0.7c-1.3-0.3-2.5-0.5-3.8-0.7
		c-1.6-0.3-1.9-0.9-3.2-1.6c-2.3-1.2-5.5-1-7.6-2.5c-1.1-0.8-1.7-2.1-3-2.8c-1.2-0.6-2.7-0.3-4-0.9c-1.5-0.6-2.1-0.8-3.8-1.1
		c-1.7-0.2-2.9-1.2-4.2-2.4c-4.6-4.2-10.8-2.5-16-5.4c-1.4-0.8-1.7-1.6-2.5-2.9c-0.9-1.5-1.8-1.4-3.3-2.2c-2.4-1.2-4.4-3.9-6.3-5.7
		c-1.8-1.6-2.3-2.4-4.7-1.9c-2,0.4-3.9-0.5-5.8-1c-1.9-0.6-3.9-0.6-5.9-1.1c-2.3-0.6-3.1-1.5-4.6-3.2c-1-1.1-1.4-2.1-1.4-2.1
		c-1.1-1.1-1.8-2.4-3.3-3.2c-0.7-2.4-4.2-3.8-6-4.8c0.3-0.2,0.6-0.6,1.1-0.7c0.2-0.6,0.3-1.5,0.2-2.1c-2.9-1.2-6,0.7-8.6-0.6
		c-2.3-1.2-3.8-3.1-5.3-5.3c-1.6-2.3-2.3-4.8-3.7-7.2c-1.5-2.5-2.8-4.3-2.5-7.4c1.5-0.5,3.1-0.9,4.7-0.8c0.5-1.9-0.8-2.6-2.3-3.1
		c0-1,2.4-2.1,3.3-2.9c1.5-1.3,2.3-2,1.9-4.3c-0.5-3.3-2-6.8-2.9-10.2c-0.4-1.7-1.1-3.2-1.5-4.8c-0.5-2,0.1-3.9-0.4-5.8
		c-0.4-1.4-2.2-2.9-3-4.1c-1-1.5-1.6-3-2.3-4.6c-1.3-2.8-3.9-4.9-5.5-7.8c-1.6-2.8-3.4-5.3-5.4-7.9s-4.1-4.2-6.2-6.3
		c-2.2-2.3-6.6-2.5-7.8-5.5c0.9-0.8,1.3-1.8,2.4-2.2c0.7-1.3-0.1-1.8-0.4-2.9c-0.3-0.8-0.6-2.4-1-3.1c-0.8-1.4-1.5-0.9-2.8-1.3
		c-1.6-0.4-1.9-0.7-3.1-1.7c-1.5-1.1-3.5-2.8-5.3-3.6c-2.1-0.9-4.1-1.5-6-3.1c-2.2-1.9-0.5-2.8-0.5-2.8c1.4-1.4,4.4-10.7,7.2-5
		c0.8-0.8,1-2,0.7-3.2c-3.5,0.6-3.2-3.2-5.1-4.7c-2.2-1.7-4.2-0.1-6-2.7c-0.6-0.8-0.3-2.7-0.9-3.5c-0.5-0.7-2.4-1.1-3.3-1.8
		c-2.4-1.9-3.1-3.6-3.5-6.6c-0.5-3.7,0.1-4.5-2.9-6.2c-2.3-1.3-4.1-1.5-5.9-3.9c-0.8-1-1.1-2.3-1.8-3.4c-0.7-1.2-2.2-2.3-2.7-3.3
		c-0.7-1.3-0.5-2.6-1.1-3.9c-0.6-1.4-1.6-1.7-2.2-2.6c-1.2-1.9-2.5-4.2-3.4-6c-1.3-2.5-0.9-4.3-2-6.7c-1.3-2.8-2.9-3.9-3-7.2
		c-0.1-1.5,0.4-2.8,0-4.1s-1.5-2.5-1.8-3.9c-0.7-2.7-0.1-5.9-0.4-8.3c-0.5-4.7-1.8-2.4-4.6-4.7c-0.6-0.3-0.6-2-1.5-2.5
		c-1.6-0.9-2.5,0.5-4.3,0c-2.6-0.8-3-3.3-5-4.9c-1.8-1.4-3.8-1.6-5.5-3.7C52.4,93,54.5,95.4,54,98c-0.5,3.2-1.6,4.5-0.9,7.9
		c0.5,2.6,1.2,5.3,0.8,8.3c-0.3,3-1.7,4.3-0.8,7.3c0.4,1.3,1.6,6.3,2.2,7.2c1.4,1.9,4.2,2,5.8,4.3c0.9,1.2,1.5,1.3,1.8,2.9
		c0.3,1.4-0.9,2.9-0.4,4.3c0.9,2.5,3.9,2.5,5,5.1c0.8,2-0.3,4.4,2.9,4.3c2.2,4,1.9,7.5,4.8,11.1c1.2,1.5,2.6,3.3,3.2,5.2
		c0.8,2.3-0.3,5.4,3.2,5.5c-0.2,1.9-2.1,3.5-1.4,5.8c0.5,1.5,2.8,2.9,3.6,4.4c1.3-1,1.2-2.6,0.4-3.9c0.3-0.1,0.7-0.3,1-0.4
		c-0.4,4,2.1,8.9,2.8,12.7c0.6,2.8-0.3,11.5,3.7,11.9c0.3,2,0.7,4.2,1.3,6c0.9,2.9,0.6,2.3,0.2,5.1c-0.8,4.7,2.3,5.6,4.1,9.8
		c0.4,0.1,0.9,0.3,1.3,0.4c-0.1-0.9,0.3-2,0.1-2.8c1.3,0.6,2.3,1.9,3.9,2.2c1.1,2.2,2.8,2.9,4,4.7c0.6,0.9,0.3,2.6,0.8,3.5
		c0.5,0.9,1.7,1.3,2.1,2.2c1.3,3.3-0.8,3.3-2.7,5.8c-1.5,2-1.8,4.8-5.1,3.8c-1.2-1.8-1.1-3.7-1.9-5.7c-0.3-0.7-1.2-1-1.5-1.9
		c-0.3-1,0.2-2.7-0.4-3.6c-1.2-2-3.1-1.3-5-2.6c-1.4-0.9-2.8-3.4-3.7-4.7c-1.9-0.4-4.8-3-6.2-4.3c-1.7-1.7-2.7-5.8-5.3-5.2
		c0.1-0.8-0.5-1.3-0.5-2c-7.2,1-2-8.1-1.7-10.9c0.5-5.1-1.2-9.8-2.2-14.4c-2.8-0.4-4.7-1.8-6.7-3.7c-1-1-2.6-1.9-2.9-3.3
		c-0.4-1.6,0.9-2.8,0.7-4.3c-0.9-4.6-2.5-0.6-5.1,0.4c-4.8,1.7-3.6-3.5-7.5-2.6c-0.4-2.3-1.5-2-2.7-3.1c-1.5-1.4-2-1.7-3.2-3.7
		c-1.2-2-3.3-4.2-5-6.4c2.1-0.6,5.5-1.6,6.9,0.2c2.1,0.7,3.7,1.5,6,1.1c0.9-1.5,0.4-3-1.3-3.3c2.8-1.8,1.6-5.1,2.2-8.2
		c0.3-0.1,0.7,0,1-0.1c-0.1-2.9-2-3.8-3.5-5.8c-1.8-2.4-2-4.5-3.6-6.9c-1.1-1.7-2.8-4.3-4.1-5.7c-1.7-2-3.7-2.3-5.5-4.3
		c-2-2.2-2.2-3.3-2.8-6.2c-0.6-2.8-1.8-4.4-2.2-7.2c-0.2-1.5,0.2-2.9-0.4-4.3c-0.5-1.2-2.1-2-2.5-3.4c-0.3-1.4,0.7-2.8,0.3-4.3
		c-0.4-1.3-1.7-1.8-2.3-2.8c-1.3-2.1-1.4-3.7-1.3-6.3c0.1-1,1.3-1.8,0.9-2.8c-0.3-0.8-2.2-1.1-2.7-2c-1.3-2.1-3.5-8.6-3.3-11.5
		c0-0.1,0-0.2,0-0.3c6-0.3,12,0.2,18,0c2.8-0.1,5.7-0.4,8.7-0.4c1.4,0,3-0.2,4.3,0c2.4,0.4,1.8,0.9,3.6,1.8c9,4.7,18.7,9.1,28.3,13
		c4.2,1.7,8.4,3.6,12.6,5.4c2.3,1,4.3,2.2,6.9,2.6c2.7,0.4,5.6-0.1,8.3,0c9.6,0.5,21.5,3.9,31.1,2.1c0.1-1.6,0-3.3,0.1-4.9
		c4.3-0.2,8.2,1,12.6,1c4.1,0,8.7-1.2,12.6-0.7c1.6,3.6,3.5,8.4,6.7,11.1c0.7,0.6,2.6,1,3.1,1.6c0.9,1.2,0.2,2.4,0.8,3.4
		c0.8,1.2,2.3,1.2,3.1,2.4c0.8,1.1,0.5,2.1,1.1,3.2c0.9,1.9,3.7,3.5,3.4,6.1c-0.3,2.9-2.9,1.2-0.8,4.8c2.2,4,7,5.8,9.2,10
		c4.1,0.7,6.4,4,10.2,5.1c2.5,0.7,7.3-2.7,7.9-5.3c1.8-0.6,4.4-2.3,5.4-3.6c2.5-0.2,5.4,0.6,5-2.9c4.2-1.4,7.8-0.1,11.3,2
		c1.6,1,3.3,2.1,4.3,3.6c1.1,1.6,1.3,4.1,2.7,5.2c0.4,5.1,5,10.5,7.3,15.1c1.9,3.8,6.7,9.6,6.9,13.7c0.1,1.3-1.1,2.4-0.7,4
		c0.3,1.2,1.8,2.3,2.4,3.3c1.5,2.9,0.1,5.8,1.2,8.6c1,2.4,3.6,2.2,5.8,3.3c2.4,1.2,4,2.3,6.2,3.5c1.9,1,3.8,1.5,5.7,2.2
		c0.7,0.3,1.2,0.4,1.5,0.6c0.4,0.3,0.3,2.2,0.1,4.2c0.7-1.1,2.1-6.1,3.1-6.7c3-2.2,0.3,3.4-0.3,5.2c-0.9,3.2-1.3,7.2-4,9.7
		c-0.1-1.6-0.1-4-1.4-4.6c0,3.6-2.9,7.4-2.6,11.1c0,0-0.9,4.2-0.9,7.2c0,2.1,0,4-0.5,5.8c-0.5,1.7-1.4,3.4-1.5,5.2
		c-0.1,2.1,0.7,3.8,0.5,6c-0.1,2,0.3,3.9,0.2,5.9c-3.1,0.6-2.6,1.8-1.8,4.2c0.8,2.3,0.6,4.8,0.9,7.2c0.3,2.3,1.4,3.4,2.7,5.3
		c0.8,1.2,1,4.9-0.1,6c-1-1.1-0.5-3.1-1.1-4.5c-0.4-0.8-2-3.3-3-3.3c-0.3,1.7,0.5,2.1,1.2,3.4c0.6,1.1,0.7,2.2,1.1,3.3
		c0.5,1.2,1.2,2.2,1.5,3.4c0.4,1.4-0.2,2.3,0,3.6c1.2,0.4,0.8,1.2,1.1,2.2c1.2,5,7.5,7.7,9,12.5c0.9,2.7,2.8,4.2,3.1,7.2
		c0.2,2.6,2,4.3,3.8,6.3c1.9,2.1,3.3,4.4,6.3,4.8c1.6,0.2,2.1,0.7,3.5,1.2s2.7,0,3.9,0.9c1.6,1.2,3.5,4,4.2,5.8
		c0.6,1.7-0.6,2.9,1.6,2.4c1.2-0.3,2.1-1.5,3.4-1.6s2.4-0.9,2.4-0.9c1.2-0.3,1.6,0.9,2.5,1.3c0.8,0.3,2.1,0.1,2.9-0.2
		c1.8-0.8,2.8-2.6,4.4-3.5c2.1-1.2,4.3-0.2,6.5-0.2c2.1,0,4.5-2,4.5-2c1.7-2,3.8,0.3,5.6,0.4c1,0.1,1.7-1,2.4-1.2
		c1-0.3,2.5-0.4,3.6-0.2c3.6,0.5-1.2,1.8-1.6,3.3c-0.6,2.1,3.3,2.1,4.1,3.6c1.2-0.9,3.9-2.2,4.5-3.5c0.4-0.9-0.1-2.6,0-3.6
		c0.1-1.1,0.9-2,0.9-3.1c-1.3-0.2-2.3,1.3-3.4,0.9c0.4-1.5,2-2.1,3.4-2.7c2.3-0.9,4.7-1.3,6.3-3.3c0.8-1,1.3-2,1.5-3.2
		c0.3-1.9-0.3-2.7,1-4.2c1.6-1.7,3.6-3.4,3.9-6c0.3-2.8-0.7-6.2,0.2-8.8c2-1.3,3.3-3.5,5-5.1c-0.5-0.6-1.3-1-2-1.3
		c-0.7-2.6,4-2,5.4-2.1c2.1-0.2,4.4-0.6,6.5-0.9c2.4-0.4,5,0,7.4-0.2c1.6-0.1,4.2-1.4,4.7-3c1.4-0.1,2.5,1,3.8,0.9
		c1.1-0.1,2-1.5,3-1.8c-0.4-3.5,11.9,1.3,13.4,0.2c-1-1.1,0.8-2.1,1.8-1.9c1.2,0.2,1.3,1.2,2,2.1c0.6,0.9,1.6,1.6,2.2,2.5
		C423.5,270.5,423.2,270.7,422.8,272.2z"/>
	<path id="cuba" class="st0" d="M585.3,289.2c-2.4-1-4.4,6-13,4.3c-2-0.4-8.5-1.8-8.5-1.8c-4.3-0.8-5.7,1.1-7.5,0.6
		s-1.7,0.2-3.6,1.2c-1.9,0.9-3.7,0-5.4-1.8c-1.7-1.8,2.6-3,4.1-4.2c1.4-1.2,1.6-1.9,3.5-1.8c1.9,0.1,1.1-2,0.5-3.7
		c-0.6-1.7-2.6-1.6-4.6-1.3c-2,0.2-2.6-0.5-4.4-1.7c-1.8-1.2-1.5,0.5-4,0.5s-6-8-7.4-9.8c-1.3-1.8,0.4-2.4,1.4-2.8
		c1.1-0.4-7.6-1.9-11.8-1.9s-10-2.8-11.1-3.3s-0.6-3-1.6-3.7c-1-0.7-1.4,0.7-2,1.5c-0.6,0.7-5.2,0.1-7-1.2c-1.8-1.3-3.6-1.1-9.8-1.1
		s-4.9-1.2-5.4-2.8c-0.5-1.6,3.9-1,4.9-2.8c1.1-1.8-7.7-2.2-12.1-2.3c-4.3-0.1-7,5.1-8.2,6.9c-1.2,1.8-7.8,1-9.5,0.7
		c-1.7-0.2-2.8,3.1-3.6,3.7c-0.8,0.6-3.7,1-4.9,1.8s-1.8-1-2.4-1.6s-2.2,1.9-2.9,2.8c-0.7,0.8-2.6-1.2-3.3-2.5
		c-0.6-1.3,1.2-1.2,2.8-0.9c1.6,0.4,2.8-1.3,3.7-2.4s1.8,0.5,3.4,0.4c1.6-0.2-0.5-2.9-0.9-4.7s3.3-4,4.5-5.1
		c1.3-1.1,6.9-2.7,9.9-3.6c3.1-0.9,6.9-1.3,9.6-1.4c2.7-0.2,2.9-2,4.3-2.9c1.5-0.9,10.1,0.4,12.5,0.9s2.4,3.1,5.3,4
		c2.9,0.9,7.1-1.6,8.9-0.9c1.8,0.7,8.9,1.1,11,2c2.2,0.9,2.2,4,3.4,6.5c1.3,2.5,7.2,2.2,10.8,2.3c3.6,0.2,7.8,4.7,8.8,6.5
		c0.9,1.8,4.7,1.1,7,2.5s2.2,0,4,0s-0.7,2.2,0,3.3c0.7,1.1,2.4-1.3,3.1-1.6c0.7-0.4,1.1,0.5,2.5,2c1.4,1.4,3.1,1.4,4.7,1.1
		c1.6-0.4,2.5,1.8,4,3.3s4.9-0.2,7.1,0c2.2,0.2-0.2,3.4-1.3,5.1c-1.1,1.6,11.6,1.6,13.7,2.7c2.2,1.1,2,2.2,2.5,4
		c0.5,1.8,2.5,1.1,4.2,2.7C597,288.4,587.8,290.2,585.3,289.2z"/>
	<path id="colombia" class="st0" d="M681.3,542.6c-8.4-1.4,0.5-7.8-0.6-13.2c-0.5-2.4-2-4.9-2.6-7.3c-0.7-2.7-0.3-5.5-0.7-8.4
		c-0.3-2.4-2.4-5.1-1.8-7.6c0.6-2.7,3-0.2,4.3-1.7c0.7-0.7,1.3-2.5,1.9-3.5c1.3-2.1,2.2-4.4,1.8-7.2s-2.4-4.6-4.8-4.4
		c-2.5,0.2-4.3,2.2-7.2,2.3c-2.9,0.1-4.9-1.5-8-1.4c-3.4,0-5.2,0.7-8.2-1.2c-2.2-1.4-4-3.5-6-5.2c-1.4-1.2-3.3-3.4-5.1-4.3
		c-2.7-1.4-5.5-0.4-8.2-0.4c-3.2,0-5.6-0.7-8.4-0.1c-3,0.6-4.4,0.1-7.4-0.7c-6.4-1.8-8.3-3.8-6.6-10.8c1-3.8,0.7-4.3-1.6-7.9
		c-1.4-2.2-2.6-4.5-4-6.8c-0.4-0.7-0.8-2.4-1.4-2.9c-1.1-1-2.6-0.3-3.5-1.2c-2.3-2.3-0.5-4.4,0.4-6.8c1.9-5.1,0.8-10.8,4.9-14.9
		c2.1-2.1,5.9-3.4,7.8-7.3c1.4-2.9,8.5-10.5,13.2-9.3c2.5-2,4-4.1,1.8-6.5c-0.9-1-2.4-2.2-4-2.2c-2.5,0-1.9,1.4-3.6,2.3
		c-2.4,1.4-7.9-0.4-8.4,2.9c-0.6,4.1-7.4,7.4-9.8,8.6c-2.8,1.4-5.1,1.1-8.1,1.7c-1.7,0.3-2.3,1.1-4.2,1.1c-1.2,0-2.8-1.6-4-0.6
		c-2.2,1.8,0.9,6.3-1.2,8.5c-0.4,0.4-1.6,0.5-2.1,0c-1.1-1.2,1.4-2.8,1-4.2c-1.4-5.2-9.9,0.1-13.3,4.6c-1.4,1.8-1.7,4-3.2,5.9
		c-1.5,1.8-3.2,2.6-3.4,5c-0.2,2.6,2.4,4.4,0,6.9c-1.6,1.6-5,1.3-6.8,2.6c-3,2.2-8.1,5.8-9.2,9c-0.9,2.6,1.8,3.4,1.5,6.2
		c-0.2,1.9-0.6,5.5-3.3,4.3c-1.7-0.8-1.4-4.3-2.2-5.5c-0.5-0.9-2.4-3.4-3.9-4.1c-0.5-0.2-0.9-0.3-1.1,0c-4.8,4.2,1.4,9.5-3.2,14.5
		c-1.4,1.5-2.5,2.8-2.6,4.8c0,0.7,0,1.4,0.3,2.3c0.6,2.4,3.2,3.7,1.8,6.5c-0.3,0.6-1,2.3,2.4,1c0.5-0.2,1.4-0.5,1.9-0.2
		s0.7,1.4,0.8,1.9c0.1,1.4-0.9,1.4-1.2,2.3c-0.5,1.9,0.6,3.1,0.9,5c0.1,0.6,0.2,2,0,2.6c-0.5,1.5-0.7,0.7-1.4,1.7
		c-1.5,2.3-0.2,1.7,0.4,3.8c0.5,1.6-0.4,3.8-0.2,5.6c0.1,1.9,0.7,3.5,0.3,5.5c-0.2,1-3.5,7.3,1.1,8.2c0.5,0.1,0.4,1.4,0.7,1.7
		c0.1,0.1,1.3,1.3,1.5,1.2c0.8-0.5,0.6,0,0.8,1.2c0.1,0.7-0.6,1.6-0.8,2.1c-1.2,3.2-2.9,4.8-5,7.5c-1.5,2-3.7,5.4-5.8,6.8
		c-0.9,0.6-2,0.9-3.1,1.9h150C681.8,543.6,681.5,543.2,681.3,542.6z"/>
	<path id="venezuela" class="st0" d="M695.8,428.5c-2,0.1-4.3,0.1-6.4,0.5c-2.7,0.5-4.7,1.7-7.2,2.2c-2.5,0.4-6.3,0.2-7.7-1.7
		c-1.9-2.7,0.6-4.5,0-7.6c-1.5-7.6-9.9-2.2-14.4-4.7c-3.1-1.7-6-0.1-7.1-4.1c-0.8-2.9,0.9-8.3-3.1-7.2c-0.4,0.1-6.4,4.3-6.5,4.7
		c-1.3,4.4,5.2,1.6,6.9,2.7c1.5,1,3.1,3.4,1.8,4.9c-0.1,0.1-0.2,0-0.3,0.1c-1.2,0.7-3.1-0.8-3.9-0.8c-1.9-0.2-1.5-0.4-3.3,0.4
		s-3.8,2.5-6,3.3c-5,1.8-11.2,1.6-10.5,8.5c0.3,2.4,0.5,5.8,1,8.4c0.4,2.2,2.4,5.5,1.5,7.9c-0.5,1.3-3.8,3.6-5.1,4
		c-4.7,1.2-2.2-3.1-4.8-5c-4-2.9-0.1-5.5,1.4-8c1.3-2.1,1.6-2.8,2.3-4.5c0.8-2,0-4.1-0.4-6c-0.7-3.7-4.4-7.8-1.5-10.7
		c1.6-1.6,4.8-3.3,7.1-5.1c-4.7-1.2-11.7,6.4-13.1,9.2c-1.9,3.9-5.8,5.2-7.8,7.3c-4,4.2-3,9.8-4.9,14.9c-0.9,2.4-2.8,4.5-0.4,6.8
		c1,0.9,2.4,0.3,3.5,1.2c0.6,0.5,1,2.2,1.4,2.9c1.3,2.3,2.6,4.6,4,6.8c2.2,3.6,2.5,4.1,1.6,7.9c-1.7,7,0.2,9,6.6,10.8
		c3,0.8,4.4,1.4,7.4,0.7c2.8-0.6,5.2,0.1,8.4,0.1c2.7,0,5.6-0.9,8.2,0.4c1.8,0.9,3.6,3.1,5,4.3c2,1.7,3.8,3.8,5.9,5.2
		c3,1.9,4.9,1.2,8.2,1.2c3,0,5,1.5,7.9,1.4c2.8-0.1,4.7-2.1,7.1-2.2c2.4-0.1,4.4,1.6,4.8,4.4c0.3,2.8-0.5,5-1.8,7.1
		c-0.6,1-1.2,2.7-1.9,3.5c-1.3,1.4-3.6-1-4.3,1.7c-0.6,2.5,1.5,5.2,1.8,7.5c0.4,2.9,0.1,5.6,0.7,8.3c0.6,2.4,2.1,4.8,2.6,7.2
		c1.1,5.4-7.8,11.9,0.6,13.3c0.1,0.7,0.5,1.1,0.8,2.1h13.6V428.5H695.8z"/>
	<g id="eeuu">
		<path id="estadosUnidos" class="st0" d="M16.1,58.6c4.8,2.3,6.5,6.9,6.7,10.5c0.1,2.3-1.1,4.6-0.4,7c0.1,0.3,0.2,0.6,0.4,0.9
			c0-0.1,0-0.2,0-0.4c6-0.3,12,0.2,18-0.1c2.8-0.1,5.7-0.4,8.7-0.4c1.4,0,3-0.2,4.3,0c2.4,0.4,1.8,0.9,3.6,1.8
			c9,4.7,18.7,9.1,28.3,13c4.2,1.7,8.4,3.6,12.6,5.4c2.3,1,4.3,2.2,6.9,2.6c2.7,0.4,5.6-0.1,8.3,0c9.6,0.5,21.5,3.9,31.1,2.1
			c0.1-1.6,0-3.3,0.1-4.9c4.3-0.2,8.2,1,12.6,1c4.1,0,8.7-1.2,12.6-0.7c1.6,3.6,3.5,8.4,6.7,11.1c0.7,0.6,2.6,1,3.1,1.6
			c0.9,1.2,0.2,2.4,0.8,3.4c0.8,1.2,2.3,1.2,3.1,2.4c0.8,1.1,0.5,2.1,1.1,3.2c0.9,1.9,3.7,3.5,3.4,6.1c-0.3,2.9-2.9,1.2-0.8,4.8
			c2.2,4,7,5.8,9.2,10c4.1,0.7,6.4,4,10.2,5.1c2.5,0.7,7.3-2.7,7.9-5.3c1.8-0.6,4.4-2.3,5.4-3.6c2.5-0.2,5.4,0.6,5-2.9
			c4.2-1.4,7.8-0.1,11.3,2c1.6,1,3.3,2.1,4.3,3.6c1.1,1.6,1.3,4.1,2.7,5.2c0.4,5.1,5,10.5,7.3,15.1c1.9,3.8,6.7,9.6,6.9,13.7
			c0.1,1.3-1.1,2.4-0.7,4c0.3,1.2,1.8,2.3,2.4,3.3c1.5,2.9,0.1,5.8,1.2,8.6c1,2.4,3.6,2.2,5.8,3.3c2.4,1.2,4,2.3,6.2,3.5
			c1.9,1,3.8,1.5,5.7,2.2c0.7,0.3,1.2,0.5,1.5,0.6c0.5-1.6,1.3-3.2,1.6-4.8c0.5-3.5-1.4-7.4-0.5-10.1c1.1-3.6,4.1-4.8,4.5-9.2
			c0.3-3.1-0.9-6.6,2.7-8.3c0.1-2.4-0.2-4.7,1.1-6.6c3.7,0.4,3.2-4.8,7.6-4.5c1.1-2.1,4.6-4.2,6-1.5c4.3,1.1,18.7-3.1,18.8-7.1
			c0.1-2.5-2.7-10.7-0.1-10.7c0.8,0,1.5,1.5,2.3,1.4c1.8-0.2,1.7-2.7,2.9-1.8c1.7,1.2-2.1,5.7-0.5,7.2c2.1,1.8,4.5-4.6,7.3-5.3
			s7.8-0.3,10.6,0c6.4,0.7,13.9,7.9,17.4,1.6c2.3-4.2,4-1.4,6.2,0.8c2,1.9,4.6,3.1,4.9,3.5c0.6,0.9-2.9,2.8-1.8,3.1
			c5.2,1.6,6.8,4.5,9.5,2.4c0.4-0.3-0.1-0.9,0.1-1.3c2.2-3.7,3.6,1.7,6.7,1.9c3,0.2,0.9-7.9,3.3-5.8c3.1,2.8,14.7,8,11.6,4.4
			c-3.4-3.9-7.3-3-9.5-6.4c-1.2-1.8,3.8-0.8,5.2-2.4c2-2.4-3.3-1.1-6.1-2.4c-1.6-0.8,0.6-3.5,1.9-4.2c3.2-1.9,6-2.1,9.5-3.6
			c3.5-1.6,8.3,1,11.6-1.4c1.7-1.3,2.6-4.9,4.3-3.7c5.7,3.9,8.3,3.2,13.6,3.8c2.9,0.3,6.1,0.2,9.2,0.5c2.8,0.2,6.3,3.6,8.1,1.8
			c0.2-0.2-0.1-0.7,0.2-0.8c1.4-0.8,4.5,0.6,3.7,2.1c-0.3,0.5-1.2,1-1.5,1.5c-0.2,0.3,0.3,1.8,0.4,2c1.3,2.2,1.6,2.4,3.7,3.5
			c4.6,2.4,7.8-1.8,13.8-3.3c3.4-0.9,2.9-1.8,5.9,1.3c1.7,1.7,2,4.3,3.7,5.9c4.4,4.4,9.3,4.3,9.7,12.1c0.3,6.3-9.2,13-3.3,16.3
			c1.4,0.8,0.8-3.5,2.2-3.8c1.4-0.2,1.5,2.9,1.5,4.3c0.2,2.5-0.7,2.4-1.1,4.2c-1,5.1,0.4,5.6,4.1,8.2c5.1,3.7,1.2,2.1,1.3,7.4
			c0,1.3,4.3,7.7,4.8,8.8c0.4,0.7-0.4,2.2,0.2,2.7c2.1,2,2.2,0.9,3.4,2c0.9,0.8,2.2,2.7,2.8,3.4c2,2.1,5.1,6.1,7.6,3.8
			c3.8-3.5,4.9-8.8,6.5-13.9c1.5-4.7,7.1-11.6,4.6-15.8c-1.4-2.4-5.1-2.1-6.2-4.9c-0.9-2.3-0.6-8.7-0.5-11.1c0.2-4.2,0.7-5-1.1-9.1
			c-1.1-2.7-2.6-5.9-3.3-8.8c-1.3-6.3-1.3-14.1-1.8-20.4c-0.6-7,2.3-12.4,2.9-19.1c3.4-1.7,6-2.6,7.6-6.3c2.4-5.3,1.4-4.2,6.8-6.3
			c3-1.2,5.3-3.5,8.2-4.7c3.8-1.7,7.5-0.9,10.3-3.8c4.6-4.9,4.2-12.3,11.9-14.5c4.8-1.4,6.2,0.4,9.5-3.6c2.1-2.5,2.6-6.3,5.5-8
			c1.9-1.1,4.7,0.2,6.7-0.3c1.3-0.3,2.3-1.4,3.6-1.4H16.1V58.6z"/>
		<rect x="14.2" y="57.1" class="st3" width="570" height="3.5"/>
	</g>
</g>
<g id="Capa_2">
	<path class="st4" d="M584,167.4H426.6V73.1H584V167.4z M427.1,99.6h-76 M351.8,99.1c0,2.8-2.2,5-5,5c-2.8,0-5-2.2-5-5
		c0-2.8,2.2-5,5-5C349.5,94.1,351.8,96.3,351.8,99.1z"/>
	<g>
		<rect x="439" y="82" class="st5" width="132.1" height="43.2"/>
		<text transform="matrix(1 0 0 1 455.7747 92.1724)"><tspan x="0" y="0" class="st6 st7 st8">EEUU deportó </tspan><tspan x="-12.9" y="18" class="st6 st7 st8">entre 2012 y 2016</tspan></text>
	</g>
	<text transform="matrix(1 0 0 1 443.5682 144.3549)" class="st9 st10 st11">157,928</text>
	<path class="st4" d="M291,343.9H135.7v-92.6H291V343.9z M210.5,228v23 M210.3,228.2c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5
		c2.8,0,5,2.2,5,5C215.3,226,213.1,228.2,210.3,228.2z"/>
	<g>
		<rect x="148.4" y="257.5" class="st5" width="132.1" height="32.6"/>
		<text transform="matrix(1 0 0 1 160.1327 267.7252)"><tspan x="0" y="0" class="st6 st7 st8">México deportó </tspan><tspan x="-7.9" y="18" class="st6 st7 st8">entre 2012 y 2016</tspan></text>
	</g>
	<g>
		<rect x="147.4" y="324.6" class="st5" width="132.1" height="13"/>
		<text transform="matrix(1 0 0 1 178.0807 334.8131)" class="st6 st7 st8">migrantes</text>
	</g>
	<g>
		<rect x="440.3" y="148.9" class="st5" width="132.1" height="13"/>
		<text transform="matrix(1 0 0 1 471.003 159.1477)" class="st6 st7 st8">migrantes</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 152.9066 316.9077)" class="st9 st10 st11">157,928</text>
	</g>
</g>
</svg>
