<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="160 -143.1 680 486.1" style="enable-background:new 160 -143.1 680 486.1;" xml:space="preserve">
<style type="text/css">
	.st00{fill:#F7F7F7;stroke:#595959;stroke-miterlimit:2;}
	.st01{fill:#FFFFFF;}
	.st02{fill:none;stroke:#77787B;stroke-width:0.5;stroke-miterlimit:2;}
	.st03{fill:none;stroke:#595959;stroke-miterlimit:2;}
	.st04{fill:none;stroke:#0086FF;stroke-width:3;stroke-miterlimit:10;}
	.st05{fill:#0086FF;}
	.st06{fill:none;stroke:#0086FF;stroke-width:5;stroke-miterlimit:10;}
</style>
<g id="Capa_1">
	<g>
		<polyline class="st00" points="834.3,-65.3 835,-143.5 162.9,-142.2 163.6,-133 165.8,-129.1 165.9,-129 214.9,-127.6
			212.4,-122.6 216.3,-120.7 288.7,-88.1 332.5,-86 345.4,-85.6 345.4,-95.6 380.1,-94.8 385.6,-88.6 390.3,-84.2 398,-76.4
			403.3,-71.4 411.9,-65.1 414.2,-58.1 416.7,-54.6 417,-47.2 421.8,-39.7 425.3,-38 430,-33.8 433.5,-33.5 438,-29.9 440.7,-29.3
			445.7,-25.9 448.9,-26.3 454.9,-34.7 457.6,-41.7 461.2,-44.2 464.1,-44.4 466.8,-46.9 475.6,-44.6 482.9,-44.3 492.4,-36.5
			500.4,-27.8 508.2,-10.6 509,-7.9 513.6,-4.9 518.9,3.6 520.3,5.7 523.8,7.1 525.4,9.6 524.5,12.9 526.9,17.3 526.6,20.2
			531.6,29.3 534.4,36 540.5,37.3 544.1,40.2 550.5,41.3 555.2,44.5 565.8,45.4 570.5,47.9 574.8,45.7 574.6,43.3 570.4,35.1
			569.4,31.6 567.1,22.4 568.2,21 568.5,16.6 567.9,15.5 566.1,15.1 563.7,14.3 564.3,13.6 568.1,13.2 569.9,11.7 571.5,4
			568.6,1.7 568.6,1.1 568.9,1.1 573.8,0 576.8,-4 574.4,-4.2 574.2,-5 575.8,-7 578.5,-7 581.6,-8.9 582.9,-13.3 585.2,-11.4
			587.3,-11.9 589,-14.4 586.4,-18.3 587.4,-18.8 589.3,-18.2 593.6,-19.9 596,-17.6 598.6,-18.8 600.4,-18.6 603.8,-20.4
			615.2,-28.9 616.3,-32.5 620.9,-35.4 622.8,-37.1 620.7,-38.6 618.4,-43.3 619.3,-45.7 620.6,-45 622.9,-46.9 623.5,-46.3
			623.6,-42.5 626.8,-42.6 628,-41.4 633,-43.5 641.3,-45.7 643.4,-47.4 653.4,-48.9 661.6,-47.7 674,-43.8 679.1,-46 679.4,-46.9
			677.9,-48.9 678.8,-49.8 683.2,-52.1 684.4,-50.4 688.5,-49.8 690.5,-46.9 696.2,-44.1 699.4,-40.8 696.2,-40.3 697.7,-38.8
			704.8,-37.5 709.1,-36.9 712.6,-41.3 717.3,-40.8 719,-37.6 720.3,-37.6 721.7,-39.3 722.6,-44.3 720.1,-47.9 720.7,-48.1
			726.8,-46 728.4,-43.5 730.5,-43.6 733.1,-41.5 734.5,-41.7 738.1,-38.6 738.7,-36.3 742.8,-38.1 743.9,-42.2 732.7,-46.1
			729.8,-50.3 731,-51.8 735,-55.8 732.8,-58.2 732.8,-59.9 732.3,-59.9 728.8,-58.3 727,-59 724.6,-61 722.9,-61.3 720,-59.6
			715.9,-59.9 713.3,-62.4 717.9,-67.4 722.1,-65.7 724.6,-65.4 728.2,-63.3 729.9,-63.1 732.8,-64.9 742.2,-70.3 753.3,-69.4
			755.6,-71.6 758.9,-70.7 760,-71.6 760.3,-75.1 762.6,-78.6 763.4,-78 764.7,-74.6 768.9,-70.5 768.6,-69.3 770.6,-69.1
			773,-71.2 775.9,-71.2 781,-77.1 782.8,-77.4 784.6,-75.3 789.3,-74.4 794.8,-77.9 800.7,-76.9 798.6,-75.2 802.7,-73.7
			807.4,-73.8 811.3,-73 811.6,-71.5 816,-67.7 819.6,-61.5 825.7,-62.2 829.2,-63.1 834.3,-65.2 834.3,-65.3 		"/>
		<polyline class="st01" points="261,77.8 254.1,72.6 252.3,69.3 261,77.8 		"/>
		<polyline class="st01" points="245.5,-11.6 245.5,-10.1 247.3,-3.2 252.7,2.5 254.1,7.3 258.3,11.3 259.8,11.9 259.8,15.5
			261.2,18.6 262.2,23 264.3,25.1 264.3,21.6 263.3,19 263.9,18 268.4,22.7 268.7,25.8 270.1,27.3 269.5,29.1 271.6,33.5
			272.1,37.9 270.6,40.9 274.5,49 277.7,51.2 278.6,56.8 282.6,64.6 284,68.6 282.7,75.9 284.2,80.8 290,84.7 291.5,83.3
			291.7,80.4 294,81 299.2,87.7 301.5,88.6 302.3,93 304.2,97.2 309.3,103.7 307.2,109.8 302.1,113.2 299.4,115.8 297.7,116.1
			294.2,112.4 291.4,100.3 287.5,96.9 283.3,94.3 271.2,82.1 262.1,73.2 260.9,73.2 260.2,70.1 258.8,71.1 256.7,67.6 255,67
			252.9,61.1 255.6,45 250.5,32.3 247.3,30.8 230.2,16.3 228.4,17.2 225.2,17.3 220.8,11.7 218.2,10.8 214.9,7.9 209,4.9 207.8,2.4
			198.6,-9.2 199.5,-9.7 206,-8.1 211.2,-9.5 213.5,-6.7 216.2,-6.1 219.7,-4.7 220.4,-6.5 219.4,-7.3 216.8,-7.9 213.9,-11.1
			216.4,-13.4 245.5,-11.6 		"/>
		<polyline class="st01" points="213.5,-104.2 212.9,-105.7 207.7,-110 207.1,-112.9 208.8,-119.4 212.4,-122.6 216.3,-120.7
			288.7,-88.1 332.5,-86 331,-81.9 333,-81 333.7,-68.7 335.9,-56.1 334.6,-40.7 332.5,-38.3 333,-23.1 333.9,-12.2 332.7,-11
			325.2,-13.6 322.5,-10.6 325.3,-2.7 329.7,4.5 331.1,7.1 331.3,15.8 334.4,19.7 327,27.2 316.9,34.4 316.4,29.1 312.6,24.4
			309.4,25.2 305.6,23.8 303.7,16.7 299.1,13.9 295.8,12.8 291.6,8.4 290.1,0.6 291,-4.5 285.9,-5.9 284.8,-5.3 284.2,-4.7
			280.9,-6.7 277.1,-10.4 273.9,-17.2 266.7,-23.3 264.4,-25.9 264.4,-28.8 259.6,-35.2 259,-40.5 256.1,-42.5 256.2,-45.4
			249.4,-58.2 249.1,-64.1 246.9,-69.7 243.7,-77 244.8,-84 244.8,-86.9 241,-89.6 238.3,-89.8 231.5,-97.4 228.5,-98.9 225,-96.9
			218,-101.9 213.5,-104.2 		"/>
		<polyline class="st01" points="445.7,-25.9 431.3,0.3 436.8,29.3 425.7,27.1 417.9,37.1 414.6,35.4 405.4,32.8 401.2,33.8
			393.7,28.8 392,29.5 386.2,25.1 384.1,26.6 381.5,33.9 379,35.5 377.5,37 378,42.2 376,43.7 375.2,48.1 371.4,51.8 363.5,53.2
			357.3,40.9 353.7,40.1 348.5,38 347.5,29.5 344.8,25.1 344.6,21.9 343.2,20.1 338.2,17.9 334.4,19.7 331.3,15.8 331.1,7.1
			329.7,4.5 325.3,-2.7 322.5,-10.6 325.2,-13.6 332.7,-11 333.9,-12.2 333,-23.1 332.5,-38.3 334.6,-40.7 335.9,-56.1 333.7,-68.7
			333,-81 331,-81.9 332.5,-86 345.4,-85.6 345.2,-87.9 345.4,-95.6 380.1,-94.8 385.6,-88.6 390.3,-84.2 398,-76.4 403.3,-71.4
			411.9,-65.1 414.2,-58.1 416.7,-54.6 417,-47.2 421.8,-39.7 425.3,-38 430,-33.8 433.5,-33.5 438,-29.9 440.7,-29.3 445.7,-25.9
					"/>
		<polyline class="st01" points="518.9,3.6 513.6,-4.9 509,-7.9 508.2,-10.6 500.4,-27.8 492.4,-36.5 482.9,-44.3 475.6,-44.6
			466.8,-46.9 464.1,-44.4 461.2,-44.2 457.6,-41.7 454.9,-34.7 448.9,-26.3 445.7,-25.9 431.3,0.3 436.8,29.3 444.9,38.9 443,45.4
			443.2,52.4 440.2,59.2 440.7,64.4 445.1,69 445.1,71.5 454,76 457.7,68.4 462.3,66.5 471.7,67.8 479.8,73.4 480.4,75.1 485.2,75
			489.2,75.4 495.3,80.9 497.6,80.5 498.4,74.3 499.5,71.4 497.8,69.6 498.3,67.3 505.4,64.6 506.6,62.6 504.6,59.2 498.2,52.7
			497.3,47.1 493.7,42.6 491.7,41.3 489.6,37.3 497.5,30.1 499.2,31 502.3,27.4 503.5,23 502.1,21.1 499.8,21.1 498.2,18.4
			498.8,16.1 505.5,12.3 507.1,6.9 510.6,4.3 514.4,7.2 518.9,3.6 		"/>
		<polyline class="st01" points="165.9,-129 214.9,-127.6 212.4,-122.6 208.8,-119.4 207.1,-112.9 207.7,-110 212.9,-105.7
			213.5,-104.2 213,-104.6 211,-105 208.1,-89.8 208.8,-86.3 210.2,-83.6 211.6,-64 214.9,-57.7 217.9,-54.8 226.3,-45.5
			231.5,-36.7 231.8,-34.1 236.2,-32.6 238.9,-23.1 243.7,-20.2 244.6,-15.2 245.5,-13.1 245.5,-11.6 216.4,-13.4 217.1,-16.1
			217.8,-20.5 219.9,-24.9 213.9,-32.8 209.5,-38 200,-48.8 195.9,-51.9 188.1,-59 188.1,-61.3 186.4,-63.7 186.6,-71.8
			182.5,-75.8 181.8,-86 178.3,-89 177.9,-94.8 174.3,-100.7 172.9,-103.5 172.6,-106.4 174.5,-110.1 173,-112.9 170.4,-114.3
			168.9,-120.2 165.6,-126.1 166.2,-128.4 165.8,-129.1 165.9,-129 		"/>
		<polyline class="st01" points="497.6,80.5 498.4,74.3 499.5,71.4 497.8,69.6 498.3,67.3 505.4,64.6 506.6,62.6 504.6,59.2
			498.2,52.7 497.3,47.1 493.7,42.6 491.7,41.3 489.6,37.3 497.5,30.1 499.2,31 502.3,27.4 503.5,23 502.1,21.1 499.8,21.1
			498.2,18.4 498.8,16.1 505.5,12.3 507.1,6.9 510.6,4.3 514.4,7.2 518.9,3.6 520.3,5.7 516.9,10.1 517.5,12.4 520.4,13.6
			520.8,18.5 520.9,24.4 523.8,26.1 524.3,29.6 528.2,31.1 528.6,36.6 532.1,38.4 533.8,42.8 535.9,43.2 539.7,45.6 544.1,44.4
			545.5,45.9 545.6,53.4 548.3,58.4 546.1,62 538.8,68.1 536.7,67.2 534.7,67.7 533.6,74.7 530.6,75.3 523.9,79 522.5,81.2
			524.8,83.4 524.4,90.5 527,95.5 523.1,99.7 519.5,100.3 518.1,102.4 518.1,107.8 515.1,107.8 513.8,112.2 510.9,112 507.9,113.3
			506.1,112.1 506.4,100.6 503.3,96.6 503.5,89.9 497.6,80.5 		"/>
		<polyline class="st01" points="574.8,45.7 576.4,47.2 572.7,60 569.2,67 565.9,82.2 565.3,82 568.1,67 570.9,61 569.6,60 568.6,62
			566,61.1 563.9,63.2 564.8,65.3 563.9,69.3 566.3,71.4 564.7,74 564.9,78.7 563.2,81.6 563.5,82.5 565.5,83.7 564.4,88.9
			564.3,103.3 565,115.7 565,120.9 562.2,127 563.8,133.1 554.5,130.4 552.2,131.9 547.6,131.6 540.9,133.1 533,130 530,125.7
			527.7,125 525,126.8 514.9,122 517.6,118.1 517.6,116.4 513.8,112.2 515.1,107.8 518.1,107.8 518.1,102.4 519.5,100.3 523.1,99.7
			527,95.5 524.4,90.5 524.8,83.4 522.5,81.2 523.9,79 530.6,75.3 533.6,74.7 534.7,67.7 536.7,67.2 538.8,68.1 546.1,62
			548.3,58.4 545.6,53.4 545.5,45.9 544.1,44.4 539.7,45.6 535.9,43.2 533.8,42.8 532.1,38.4 528.6,36.6 528.2,31.1 524.3,29.6
			523.8,26.1 520.9,24.4 520.8,18.5 520.4,13.6 517.5,12.4 516.9,10.1 520.3,5.7 523.8,7.1 525.4,9.6 524.5,12.9 526.9,17.3
			526.6,20.2 531.6,29.3 534.4,36 540.5,37.3 544.1,40.2 550.5,41.3 555.2,44.5 565.8,45.4 570.5,47.9 574.8,45.7 		"/>
		<polyline class="st01" points="651.4,229 645.2,232.1 640.5,230.2 635.4,222.8 631.9,221.9 626.9,218.8 613.1,218 609.6,215.1
			602.7,206.9 597.4,195 589.7,184.5 578.3,168.7 573.3,156.6 572.4,155.4 568.9,151.6 566.9,144.7 572.5,150.1 573,154.6
			573.1,155.6 574.4,155.4 575.1,152.3 573,149.6 566.4,142.9 563.8,133.1 554.5,130.4 552.2,131.9 547.6,131.6 551.6,135.9
			551.5,137.7 548.3,141.9 549.8,145.9 547.2,149.8 548.9,151.9 549.3,155.9 551.4,160.6 552.8,161.4 554.8,160.8 557.4,162.9
			555.9,169 551.7,169 549.7,171 550.5,173.7 549.5,177.3 550.2,179.2 551,180.2 557.1,175.4 559.1,173.4 560.5,174.8 560,178.1
			562.1,176.9 563.7,170.3 565.5,169.5 567,170.9 567.2,172.8 571.5,175.3 570.7,177.6 567.1,178.2 567.1,182.4 570.7,185
			575.1,182.6 579.7,184.8 580.5,185.8 577.5,190.2 577.5,195.4 574.6,198.5 577.9,203.4 582.6,206.3 583.1,207.2 579.1,209.2
			580.9,215.6 578,216.2 578,219.1 582.7,221.4 583.2,223.9 587.6,223.3 588.8,222.8 591.2,224.9 593,222.8 593.2,221.1 597,222.3
			604.5,231.2 611.2,232.7 613,236.8 611.3,241.4 611.9,243.8 615.2,246.9 626.3,242.2 627.4,243.3 627.2,246.6 631.3,249.4
			632.3,252.7 640.7,253.6 659,253.5 662.9,249.1 664.1,247.4 662.9,245.6 662.9,245.1 659.1,240.1 655.7,238.3 652.8,235.8
			653.1,233.4 651.4,229 		"/>
		<polyline class="st01" points="513.8,112.2 517.6,116.4 517.6,118.1 514.9,122 525,126.8 527.7,125 530,125.7 533,130 540.9,133.1
			547.6,131.6 551.6,135.9 551.5,137.7 548.3,141.9 549.8,145.9 547.2,149.8 548.9,151.9 549.3,155.9 547,160.7 542.6,161.3
			540.5,159.5 537,158 535.3,153.7 532.6,150.8 527.6,154.9 522.9,153 520.6,155.1 506.8,150.2 502.5,154 499.8,152.9 493.8,148
			490.6,148 487.7,145.7 482.6,145.2 485.9,140.9 485.7,136.5 487,130.4 485.7,127.5 482.6,127.2 478.4,130.8 477.3,130.8
			467.6,120.7 467.2,116 465.7,113.1 468.3,109.3 470,108.9 478.5,102.4 488.1,93.8 491.2,89.1 497.6,80.5 503.5,89.9 503.3,96.6
			506.4,100.6 506.1,112.1 507.9,113.3 510.9,112 513.8,112.2 		"/>
		<polyline class="st01" points="457.7,68.4 461,77.6 460.4,82.6 443.8,83.7 432.2,92.3 431.7,102.4 426.7,107.6 424.7,114.1
			423.6,115.8 421.3,132.2 421.1,134 429,131 427.5,127.7 429.1,123.7 431.6,125.4 430.1,133.3 431.3,134.8 434.2,128 435.5,129.1
			435.2,138.8 436.7,139.7 441.3,133.8 443,130.9 447.2,134.8 447.4,136.9 437.9,147 438.5,149.6 437.4,152.5 433.9,153.7
			433.6,160.2 446.1,163.8 447.8,163.8 448.3,159.2 453.3,158.8 457.1,155.7 457.7,153 455.6,150.7 453.6,144.2 456.1,141.9
			458,141.6 458.6,139.8 457.6,136.9 457.9,135.2 461.5,133.8 464.4,130.9 470.2,135.7 471,138 474,142 474.5,141.4 482.4,145.2
			482.6,145.2 485.9,140.9 485.7,136.5 487,130.4 485.7,127.5 482.6,127.2 478.4,130.8 477.3,130.8 467.6,120.7 467.2,116
			465.7,113.1 468.3,109.3 470,108.9 478.5,102.4 488.1,93.8 491.2,89.1 497.6,80.5 495.3,80.9 489.2,75.4 485.2,75 480.4,75.1
			479.8,73.4 471.7,67.8 462.3,66.5 457.7,68.4 		"/>
		<polyline class="st01" points="363.5,53.2 371.4,51.8 375.2,48.1 376,43.7 378,42.2 377.5,37 379,35.5 381.5,33.9 384.1,26.6
			386.2,25.1 392,29.5 393.7,28.8 401.2,33.8 405.4,32.8 414.6,35.4 417.9,37.1 425.7,27.1 436.8,29.3 444.9,38.9 443,45.4
			443.2,52.4 440.2,59.2 440.7,64.4 445.1,69 445.1,71.5 454,76 457.7,68.4 461,77.6 460.4,82.6 443.8,83.7 432.2,92.3 431.7,102.4
			426.7,107.6 424.7,114.1 423.6,115.8 421.3,132.2 419,130.8 416.7,131.8 413.1,128.2 413.1,127 410,126.4 407.3,127 406.2,126.5
			406.9,124 408,120.5 404.6,117.2 396.7,115.2 390.7,108.6 390.1,103.2 387,96.9 386.2,89.5 379.3,83.4 375.6,85.8 372.9,84
			371,77.6 364.6,71.2 361.6,62 363.5,53.2 		"/>
		<polyline class="st01" points="392.4,128.5 389.5,127.9 385.6,122 383.1,119.7 383.7,118.2 370.2,103.9 363.6,93.6 361.3,89.4
			355.1,86.4 351.5,79.3 347.6,79.3 343.2,74.7 342.9,71.4 341.1,68.1 341.1,66.2 335.3,62.5 331,59.3 326.9,55.3 324.9,53.2
			323.5,55.3 315.8,51 314.7,50.7 314.7,48.7 312.5,44.3 313.9,40.1 317.1,36.2 316.9,34.4 327,27.2 334.4,19.7 338.2,17.9
			343.2,20.1 344.6,21.9 344.8,25.1 347.5,29.5 348.5,38 353.7,40.1 357.3,40.9 363.5,53.2 361.6,62 364.6,71.2 371,77.6 372.9,84
			375.6,85.8 379.3,83.4 386.2,89.5 387,96.9 390.1,103.2 390.7,108.6 396.7,115.2 395.4,116.6 395.8,119.2 393.1,122 395.3,125.7
			394.7,127.5 392.4,128.5 		"/>
		<polyline class="st01" points="392.4,128.5 394.7,127.5 395.3,125.7 393.1,122 395.8,119.2 395.4,116.6 396.7,115.2 404.6,117.2
			408,120.5 406.9,124 406.2,126.5 407.3,127 410,126.4 413.1,127 413.1,128.2 416.7,131.8 419,130.8 421.3,132.2 421.1,134
			419.5,139.3 421.2,143 424.4,146.8 423.4,152.6 427.8,157 423.4,161.2 422.2,161.4 420.8,171.2 420.6,171.7 414.4,166.9
			410,164.5 402.2,167.3 399.5,172.9 395.1,169.9 393.4,169.5 394.5,167.1 398.6,163.7 400,159.7 400.8,153.8 395.8,149.9
			391.3,139.3 391.8,136.9 394.6,139.4 395.4,138.6 392,133.5 392.4,128.5 		"/>
		<polyline class="st01" points="413.1,209.2 416.8,205.5 419.1,205.5 424.6,200.9 427,202.8 430.3,203.6 434.1,201.4 437.3,204.7
			438.1,215 439.7,214.4 442.5,212 443.8,212.9 447.3,213.4 450.2,209.2 457.6,207.2 458.6,203.4 457.8,202.2 455.2,201.9
			453,196.9 454.7,192.9 454.1,191.7 450.4,191.4 448.3,190.4 448,188.7 449.6,186.4 453.8,186.4 456.7,184.3 461.7,182.5
			469.9,179.8 471.9,176.7 470,170.4 475.2,162.4 478.7,160.1 481.1,157.7 480.1,154 481.6,151.9 481.2,146.9 482.6,145.2
			482.4,145.2 474.5,141.4 474,142 466.7,150.3 462.2,149.1 458.6,148 458,141.6 456.1,141.9 453.6,144.2 455.6,150.7 457.7,153
			457.1,155.7 453.3,158.8 448.3,159.2 447.8,163.8 446.1,163.8 433.6,160.2 433.9,153.7 437.4,152.5 438.5,149.6 437.9,147
			447.4,136.9 447.2,134.8 443,130.9 441.3,133.8 436.7,139.7 435.2,138.8 435.5,129.1 434.2,128 431.3,134.8 430.1,133.3
			431.6,125.4 429.1,123.7 427.5,127.7 429,131 421.1,134 419.5,139.3 421.2,143 424.4,146.8 423.4,152.6 427.8,157 423.4,161.2
			422.2,161.4 420.8,171.2 420.6,171.7 414.4,166.9 410,164.5 402.2,167.3 399.5,172.9 398.2,175.8 394,177 390,178.5 390.8,181.2
			393.5,188.7 405.7,205.6 413.1,209.2 		"/>
		<polyline class="st01" points="469.9,179.8 471.9,176.7 470,170.4 475.2,162.4 478.7,160.1 481.1,157.7 480.1,154 481.6,151.9
			481.2,146.9 482.6,145.2 487.7,145.7 490.6,148 493.8,148 499.8,152.9 502.5,154 506.8,150.2 520.6,155.1 522.3,158.8
			521.1,160.9 516.7,161.5 515.7,163.2 513.1,166.8 506.4,167.5 503.2,173 505.3,175.7 509.4,185.9 507.5,189.7 504.9,191.8
			501.4,190.3 497.8,191.5 495.5,189.2 491.8,187.5 487,189 485.4,188.1 483.9,183.5 481.6,181.8 478.9,184.1 475.1,184.7
			472.8,183.9 472.6,181.8 469.9,179.8 		"/>
		<polyline class="st01" points="474,142 466.7,150.3 462.2,149.1 458.6,148 458,141.6 458.6,139.8 457.6,136.9 457.9,135.2
			461.5,133.8 464.4,130.9 470.2,135.7 471,138 474,142 		"/>
		<polyline class="st01" points="513.8,190.9 517.3,186.4 517.6,184.6 520.3,183.7 520.9,181.1 520.9,177.6 525.4,175.1 526.2,174
			526.2,170.7 531,166 532,161.7 537.6,160.9 537,158 535.3,153.7 532.6,150.8 527.6,154.9 522.9,153 520.6,155.1 522.3,158.8
			521.1,160.9 516.7,161.5 515.7,163.2 513.1,166.8 506.4,167.5 503.2,173 505.3,175.7 509.4,185.9 513.8,190.9 		"/>
		<polyline class="st01" points="549.3,155.9 551.4,160.6 552.8,161.4 554.8,160.8 557.4,162.9 555.9,169 551.7,169 549.7,171
			550.5,173.7 549.5,177.3 550.2,179.2 551,180.2 557.1,175.4 559.1,173.4 560.5,174.8 560,178.1 558,181.7 559.2,186.3
			556.6,190.7 557.6,196.3 554.1,196.8 553.2,198 547.5,198.4 547.6,196.7 546.1,193.5 542,193.5 540,192.9 540,189.3 538.6,188.5
			533.6,189.7 531.7,193.7 520.3,183.7 520.9,181.1 520.9,177.6 525.4,175.1 526.2,174 526.2,170.7 531,166 532,161.7 537.6,160.9
			537,158 540.5,159.5 542.6,161.3 547,160.7 549.3,155.9 		"/>
		<polyline class="st01" points="591.2,224.9 589.8,229 584.3,232.9 579.3,232.7 575.2,236.2 573.1,235.4 570.8,230.7 570.2,229.5
			568.7,229.9 567.9,233.6 568.2,236.8 566.1,237.7 563.2,236.2 555.3,239.3 552.6,237.3 545.9,237.1 539.4,231.2 539.2,228.9
			542,226.2 547,225.3 546.1,221.3 547.2,219.5 546.6,217.2 547.4,214.4 547.5,213.6 547.7,202.5 550.9,203.3 555,208.3
			558.2,210.6 561.5,208.3 563.8,207.9 570.5,205 569.4,203.7 565.3,202 565.2,199.6 563.5,197.9 557.6,196.3 556.6,190.7
			559.2,186.3 558,181.7 560,178.1 562.1,176.9 563.7,170.3 565.5,169.5 567,170.9 567.2,172.8 571.5,175.3 570.7,177.6
			567.1,178.2 567.1,182.4 570.7,185 575.1,182.6 579.7,184.8 580.5,185.8 577.5,190.2 577.5,195.4 574.6,198.5 577.9,203.4
			582.6,206.3 583.1,207.2 579.1,209.2 580.9,215.6 578,216.2 578,219.1 582.7,221.4 583.2,223.9 587.6,223.3 588.8,222.8
			591.2,224.9 		"/>
		<polyline class="st01" points="547.5,198.4 553.2,198 554.1,196.8 557.6,196.3 563.5,197.9 565.2,199.6 565.3,202 569.4,203.7
			570.5,205 563.8,207.9 561.5,208.3 558.2,210.6 555,208.3 550.9,203.3 547.7,202.5 547.1,201.7 547.5,198.4 		"/>
		<polyline class="st01" points="534.2,199.1 532.2,206.8 533.7,209.1 537.2,211.1 540.4,211.1 539.5,204 538,200.8 534.2,199.1
			"/>
		<polyline class="st01" points="527.6,220.5 530,224.4 532.3,225.8 534.4,224 535.9,224.4 539.2,228.9 542,226.2 547,225.3
			546.1,221.3 547.2,219.5 546.6,217.2 547.4,214.4 542.5,212.8 540.4,211.1 537.2,211.1 533.7,209.1 531.6,211.7 531.7,215
			527.6,220.5 		"/>
		<polyline class="st01" points="540.4,211.1 539.5,204 538,200.8 534.2,199.1 532.2,206.8 533.7,209.1 531.6,211.7 531.7,215
			527.6,220.5 523.8,219.6 520.3,222.7 516.5,222.7 511.1,227.4 509.3,227.2 505.1,217.5 503.9,216.9 511.4,205.1 513.4,202.5
			513.9,194.2 515.1,192.5 513.8,190.9 517.3,186.4 517.6,184.6 520.3,183.7 531.7,193.7 533.6,189.7 538.6,188.5 540,189.3
			540,192.9 542,193.5 546.1,193.5 547.6,196.7 547.5,198.4 547.1,201.7 547.7,202.5 547.5,213.6 547.4,214.4 542.5,212.8
			540.4,211.1 		"/>
		<polyline class="st01" points="468.3,238.9 469.7,233.2 475.6,230.7 474.6,226.3 477.3,224.5 484,227.2 491.6,225.2 495.5,227.3
			496.6,226.7 502,227.5 499.5,219.9 500.1,216.9 500.7,217.5 501.8,218.4 503.9,216.9 505.1,217.5 509.3,227.2 511.1,227.4
			516.5,222.7 520.3,222.7 523.8,219.6 527.6,220.5 530,224.4 532.3,225.8 534.4,224 535.9,224.4 539.2,228.9 539.4,231.2
			545.9,237.1 552.6,237.3 555.3,239.3 554.5,249 557.2,254.5 558.5,256.8 562.2,259.5 560.9,268 557.4,269.8 556.5,272.9
			556.9,274.4 551.3,277.3 545.4,272.2 541,272.2 532.5,270 522.6,267.4 517.5,262.8 512.2,262.2 492.3,254.5 479.3,245
			473.3,238.9 470.1,238.2 468.3,238.9 		"/>
		<polyline class="st01" points="468.3,238.9 469.7,233.2 475.6,230.7 474.6,226.3 477.3,224.5 484,227.2 491.6,225.2 495.5,227.3
			496.6,226.7 502,227.5 499.5,219.9 500.1,216.9 500.7,217.5 501.8,218.4 503.9,216.9 511.4,205.1 513.4,202.5 513.9,194.2
			515.1,192.5 513.8,190.9 509.4,185.9 507.5,189.7 504.9,191.8 501.4,190.3 497.8,191.5 495.5,189.2 491.8,187.5 487,189
			485.4,188.1 483.9,183.5 481.6,181.8 478.9,184.1 475.1,184.7 472.8,183.9 472.6,181.8 469.9,179.8 461.7,182.5 456.7,184.3
			453.8,186.4 449.6,186.4 448,188.7 448.3,190.4 450.4,191.4 454.1,191.7 454.7,192.9 453,196.9 455.2,201.9 457.8,202.2
			458.6,203.4 457.6,207.2 450.2,209.2 447.3,213.4 443.8,212.9 442.5,212 439.7,214.4 438.1,215 435.7,215.8 431.7,221.7
			438.1,229.6 466.2,239.6 468.3,238.9 		"/>
		<polyline class="st01" points="438.1,215 437.3,204.7 434.1,201.4 430.3,203.6 427,202.8 424.6,200.9 419.1,205.5 416.8,205.5
			413.1,209.2 416.8,211.1 429,218.3 431.7,221.7 435.7,215.8 438.1,215 		"/>
		<polyline class="st01" points="555.3,239.3 554.5,249 557.2,254.5 558.5,256.8 562.2,259.5 560.9,268 557.4,269.8 556.5,272.9
			556.9,274.4 551.3,277.3 558.5,279.8 564.3,283.4 569.2,285.1 584.4,285.6 585.7,287.7 590.1,289.6 597.5,292.6 602.1,291.8
			622.9,283.8 633,273.7 635.6,272.6 638.3,273.7 637.9,274.6 641.8,276.8 646.2,277.1 647.3,275.4 654.4,277.6 655.2,275.2
			653.1,270.4 654.5,264.1 657.2,260.2 658.3,254.4 659,253.5 640.7,253.6 632.3,252.7 631.3,249.4 627.2,246.6 627.4,243.3
			626.3,242.2 615.2,246.9 611.9,243.8 611.3,241.4 613,236.8 611.2,232.7 604.5,231.2 597,222.3 593.2,221.1 593,222.8
			591.2,224.9 589.8,229 584.3,232.9 579.3,232.7 575.2,236.2 573.1,235.4 570.8,230.7 570.2,229.5 568.7,229.9 567.9,233.6
			568.2,236.8 566.1,237.7 563.2,236.2 555.3,239.3 		"/>
		<polyline class="st01" points="651.4,229 661.8,224 671.1,222 672.9,223 676.7,221.2 683.8,218.5 687.8,215.8 690.1,218.5
			694.5,218.6 694.9,218.6 696.3,223 697.3,227.2 703.2,231.2 707.6,230.8 709.9,227.9 714.9,228.8 722.8,229.9 723.7,233 724,246
			715.6,247.2 711.2,242.5 709.4,242.5 707.8,238.8 705.9,237.3 705.5,235.2 701.9,233.5 699.6,233.5 696.7,236.2 691.2,238.6
			683.4,246.6 677.5,240.2 678,235 671.6,232.7 668.8,240.8 664.1,247.4 662.9,245.6 662.9,245.1 659.1,240.1 655.7,238.3
			652.8,235.8 653.1,233.4 651.4,229 		"/>
		<polyline class="st01" points="730.9,159.7 729.5,170.1 731.4,181.9 726.5,187.4 726.5,194.7 724.8,198.5 714.9,206.6 711.7,209.7
			715.4,213.5 715,214.7 709.8,218.8 702.4,220.1 701.6,218.4 698.7,217.4 699.9,214.9 698.4,214 687.8,215.8 690.1,218.5
			694.5,218.6 694.9,218.6 696.3,223 697.3,227.2 703.2,231.2 707.6,230.8 709.9,227.9 714.9,228.8 722.8,229.9 723.7,233
			763.6,229.6 762.1,209 761.2,182.1 741.5,169.7 739.2,169.1 733.1,167 730.9,159.7 		"/>
		<polyline class="st01" points="730.9,159.7 733.8,154.7 745.1,148.5 747.5,148.1 768.8,142.5 773.4,139.1 794.3,139.9 794.4,151.9
			788.8,160.9 761.2,182.1 741.5,169.7 739.2,169.1 733.1,167 730.9,159.7 		"/>
		<polyline class="st01" points="715.6,247.2 715,248 723.3,255.2 731.2,259.9 733.3,264.3 738.1,266.6 738.4,274.5 708.5,276.8
			698.2,296.5 701.7,301.5 700.8,303.6 700.4,310 700.4,314.7 687.6,303.9 685,300.5 668.3,287.9 659.5,280.5 654.4,277.6
			655.2,275.2 653.1,270.4 654.5,264.1 657.2,260.2 658.3,254.4 659,253.5 662.9,249.1 664.1,247.4 668.8,240.8 671.6,232.7
			678,235 677.5,240.2 683.4,246.6 691.2,238.6 696.7,236.2 699.6,233.5 701.9,233.5 705.5,235.2 705.9,237.3 707.8,238.8
			709.4,242.5 711.2,242.5 715.6,247.2 		"/>
		<polyline class="st01" points="794.3,139.9 799.6,139.8 801,138.6 801.6,138 800.4,136.9 803.6,135.7 806.9,137.4 810.7,142
			809.8,144.6 810.7,147.3 808.7,153.7 800,165.2 797.9,174.6 797.9,179.6 795.2,181.9 793.7,182 793.2,183.5 795.2,185.4
			799.1,184.2 800.2,184.8 799.4,186.9 795.9,189.6 794.8,192 795.3,192.8 798.8,190.7 799.2,192.2 797.7,196.9 793,215.1
			792.6,220.7 791.7,220.6 791.9,215.2 788.1,211.1 788.7,205.5 787.8,204 787.2,204.6 786.4,206.7 782.6,210.5 777.7,214.1
			777.1,216.7 771.7,226.9 766.9,225.1 764.7,227.1 764.4,230.6 763.6,229.6 762.1,209 761.2,182.1 788.8,160.9 794.4,151.9
			794.3,139.9 		"/>
		<polyline class="st01" points="574.8,45.7 576.4,47.2 572.7,60 569.2,67 565.9,82.2 565.3,82 568.1,67 570.9,61 569.6,60 568.6,62
			566,61.1 563.9,63.2 564.8,65.3 563.9,69.3 566.3,71.4 564.7,74 564.9,78.7 563.2,81.6 563.5,82.5 565.5,83.7 564.4,88.9
			564.3,103.3 565,115.7 565,120.9 562.2,127 563.8,133.1 566.4,142.9 573,149.6 575.1,152.3 574.4,155.4 573.1,155.6 573,154.6
			572.5,150.1 566.9,144.7 568.9,151.6 572.4,155.4 573.3,156.6 578.3,168.7 589.7,184.5 597.4,195 602.7,206.9 609.6,215.1
			613.1,218 626.9,218.8 631.9,221.9 635.4,222.8 640.5,230.2 645.2,232.1 651.4,229 661.8,224 671.1,222 672.9,223 676.7,221.2
			683.8,218.5 687.8,215.8 698.4,214 699.9,214.9 698.7,217.4 701.6,218.4 702.4,220.1 709.8,218.8 715,214.7 715.4,213.5
			711.7,209.7 714.9,206.6 724.8,198.5 726.5,194.7 726.5,187.4 731.4,181.9 729.5,170.1 730.9,159.7 733.8,154.7 745.1,148.5
			747.5,148.1 768.8,142.5 773.4,139.1 794.3,139.9 799.6,139.8 801,138.6 801.6,138 800.4,136.9 803.6,135.7 806.9,137.4
			810.7,142 809.8,144.6 810.7,147.3 808.7,153.7 800,165.2 797.9,174.6 797.9,179.6 795.2,181.9 793.7,182 793.2,183.5
			795.2,185.4 799.1,184.2 800.2,184.8 799.4,186.9 795.9,189.6 794.8,192 795.3,192.8 798.8,190.7 799.2,192.2 797.7,196.9
			793,215.1 792.6,220.7 791.7,220.6 791.9,215.2 788.1,211.1 788.7,205.5 787.8,204 787.2,204.6 786.4,206.7 782.6,210.5
			777.7,214.1 777.1,216.7 771.7,226.9 766.9,225.1 764.7,227.1 764.4,230.6 758.8,230.3 723.7,233 724,246 715.6,247.2 715,248
			723.3,255.2 731.2,259.9 733.3,264.3 738.1,266.6 738.4,274.5 708.5,276.8 698.2,296.5 701.7,301.5 700.8,303.6 700.4,310
			700.4,314.7 687.6,303.9 685,300.5 668.3,287.9 659.5,280.5 654.4,277.6 647.3,275.4 646.2,277.1 641.8,276.8 637.9,274.6
			638.3,273.7 635.6,272.6 633,273.7 622.9,283.8 602.1,291.8 597.5,292.6 590.1,289.6 585.7,287.7 584.4,285.6 569.2,285.1
			564.3,283.4 558.5,279.8 551.3,277.3 545.4,272.2 541,272.2 532.5,270 522.6,267.4 517.5,262.8 512.2,262.2 492.3,254.5
			479.3,245 473.3,238.9 470.1,238.2 468.3,238.9 466.2,239.6 438.1,229.6 431.7,221.7 429,218.3 416.8,211.1 413.1,209.2
			405.7,205.6 393.5,188.7 390.8,181.2 390,178.5 394,177 398.2,175.8 399.5,172.9 395.1,169.9 393.4,169.5 394.5,167.1
			398.6,163.7 400,159.7 400.8,153.8 395.8,149.9 391.3,139.3 391.8,136.9 394.6,139.4 395.4,138.6 392,133.5 392.4,128.5
			389.5,127.9 385.6,122 383.1,119.7 383.7,118.2 370.2,103.9 363.6,93.6 361.3,89.4 355.1,86.4 351.5,79.3 347.6,79.3 343.2,74.7
			342.9,71.4 341.1,68.1 341.1,66.2 335.3,62.5 331,59.3 326.9,55.3 324.9,53.2 323.5,55.3 315.8,51 314.7,50.7 314.7,48.7
			312.5,44.3 313.9,40.1 317.1,36.2 316.9,34.4 316.4,29.1 312.6,24.4 309.4,25.2 305.6,23.8 303.7,16.7 299.1,13.9 295.8,12.8
			291.6,8.4 290.1,0.6 291,-4.5 285.9,-5.9 284.8,-5.3 284.2,-4.7 280.9,-6.7 277.1,-10.4 273.9,-17.2 266.7,-23.3 264.4,-25.9
			264.4,-28.8 259.6,-35.2 259,-40.5 256.1,-42.5 256.2,-45.4 249.4,-58.2 249.1,-64.1 246.9,-69.7 243.7,-77 244.8,-84
			244.8,-86.9 241,-89.6 238.3,-89.8 231.5,-97.4 228.5,-98.9 225,-96.9 218,-101.9 213.5,-104.2 213,-104.6 211,-105 208.1,-89.8
			208.8,-86.3 210.2,-83.6 211.6,-64 214.9,-57.7 217.9,-54.8 226.3,-45.5 231.5,-36.7 231.8,-34.1 236.2,-32.6 238.9,-23.1
			243.7,-20.2 244.6,-15.2 245.5,-13.1 245.5,-10.1 247.3,-3.2 252.7,2.5 254.1,7.3 258.3,11.3 259.8,11.9 259.8,15.5 261.2,18.6
			262.2,23 264.3,25.1 264.3,21.6 263.3,19 263.9,18 268.4,22.7 268.7,25.8 270.1,27.3 269.5,29.1 271.6,33.5 272.1,37.9
			270.6,40.9 274.5,49 277.7,51.2 278.6,56.8 282.6,64.6 284,68.6 282.7,75.9 284.2,80.8 290,84.7 291.5,83.3 291.7,80.4 294,81
			299.2,87.7 301.5,88.6 302.3,93 304.2,97.2 309.3,103.7 307.2,109.8 302.1,113.2 299.4,115.8 297.7,116.1 294.2,112.4
			291.4,100.3 287.5,96.9 283.3,94.3 271.2,82.1 262.1,73.2 260.9,73.2 260.2,70.1 258.8,71.1 256.7,67.6 255,67 252.9,61.1
			255.6,45 250.5,32.3 247.3,30.8 230.2,16.3 228.4,17.2 225.2,17.3 220.8,11.7 218.2,10.8 214.9,7.9 209,4.9 207.8,2.4 198.6,-9.2
			199.5,-9.7 206,-8.1 211.2,-9.5 213.5,-6.7 216.2,-6.1 219.7,-4.7 220.4,-6.5 219.4,-7.3 216.8,-7.9 213.9,-11.1 216.4,-13.4
			217.1,-16.1 217.8,-20.5 219.9,-24.9 213.9,-32.8 209.5,-38 200,-48.8 195.9,-51.9 188.1,-59 188.1,-61.3 186.4,-63.7
			186.6,-71.8 182.5,-75.8 181.8,-86 178.3,-89 177.9,-94.8 174.3,-100.7 172.9,-103.5 172.6,-106.4 174.5,-110.1 173,-112.9
			170.4,-114.3 168.9,-120.2 165.6,-126.1 166.2,-128.4 165.8,-129.1 165.9,-129 214.9,-127.6 212.4,-122.6 216.3,-120.7
			288.7,-88.1 332.5,-86 345.4,-85.6 345.4,-95.6 380.1,-94.8 385.6,-88.6 390.3,-84.2 398,-76.4 403.3,-71.4 411.9,-65.1
			414.2,-58.1 416.7,-54.6 417,-47.2 421.8,-39.7 425.3,-38 430,-33.8 433.5,-33.5 438,-29.9 440.7,-29.3 445.7,-25.9 448.9,-26.3
			454.9,-34.7 457.6,-41.7 461.2,-44.2 464.1,-44.4 466.8,-46.9 475.6,-44.6 482.9,-44.3 492.4,-36.5 500.4,-27.8 508.2,-10.6
			509,-7.9 513.6,-4.9 518.9,3.6 520.3,5.7 523.8,7.1 525.4,9.6 524.5,12.9 526.9,17.3 526.6,20.2 531.6,29.3 534.4,36 540.5,37.3
			544.1,40.2 550.5,41.3 555.2,44.5 565.8,45.4 570.5,47.9 574.8,45.7 		"/>
		<path class="st02" d="M794.3,139.9l5.2-0.1l1.5-1.2l0.6-0.6l-1.2-1.1l3.2-1.2l3.3,1.7l3.8,4.6l-0.9,2.6l0.9,2.7l-2,6.5l-8.7,11.5
			l-2.2,9.4v5l-2.7,2.3l-1.5,0.1l-0.5,1.5l2,2l3.9-1.2l1.1,0.6l-0.7,2.1l-3.5,2.7l-1.1,2.4l0.5,0.7l3.5-2.1l0.4,1.5l-1.5,4.8
			l-4.8,18.2l-0.4,5.6l-0.9-0.1l0.1-5.4l-3.8-4.1l0.6-5.6l-0.9-1.5l-0.6,0.6l-0.9,2.1l-3.8,3.8l-4.9,3.7l-0.6,2.6l-5.4,10.2
			l-4.9-1.8l-2.2,2l-0.2,3.5l-0.5-0.6 M715.6,247.2L715,248l8.3,7.2l7.9,4.6l2.1,4.4l4.8,2.3l0.4,7.9l-29.9,2.3l-10.4,19.6l3.5,5
			l-0.9,2.1l-0.5,6.5v4.6l-12.8-10.7l-2.6-3.4l-16.7-12.6l-8.8-7.4l-5.1-2.9l0.9-2.3l-2.1-4.9l1.3-6.2l2.7-3.9l1.1-5.9l0.7-0.9
			l3.9-4.4l1.2-1.7l4.6-6.6l2.8-8.2l6.5,2.3l-0.5,5.2l5.9,6.3l7.8-7.9l5.5-2.4l2.9-2.7h2.3l3.5,1.7l0.4,2.1l2,1.5l1.6,3.8h1.8
			L715.6,247.2z M730.9,159.7l-1.3,10.4l1.8,11.8l-4.9,5.5v7.3l-1.7,3.8l-9.9,8.1l-3.2,3.2l3.7,3.8l-0.4,1.2l-5.2,4l-7.3,1.3
			l-0.9-1.7l-2.9-1l1.2-2.6l-1.5-0.9l-10.6,1.8l2.3,2.7l4.4,0.1h0.4l1.5,4.4l1,4.1l5.9,4l4.4-0.4l2.3-2.9l5,0.9l7.9,1.1l0.9,3.2
			l40.8-2.4l-1-8.5l1.4-0.2l-0.3-7.2h-1l-0.3-5.4l-1.3-15.2l-3.8-5.4l-6.6-8.2l-0.9-5.9l-1.9-1.6l-2.4,0.8l-1.4-2.4l0.2-5.1
			l-3.2-1.1l-0.8,2.7h-3.2l-1.3-2.6l-3.8,0.3l-0.5-8l1.6-2.9l11.3-6.2l2.3-0.4l21.4-5.6l4.6-3.4l20.9,0.9 M651.4,229l10.4-5l9.3-2
			l1.8,1l3.8-1.8l7.1-2.7l4-2.7l2.3,2.7l4.4,0.1h0.4l1.5,4.4l1,4.1l5.9,4l4.4-0.4l2.3-2.9l5,0.9l7.9,1.1l0.9,3.2L724,246l-8.4,1.2
			l-4.4-4.6h-1.8l-1.6-3.8l-2-1.5l-0.4-2.1l-3.5-1.7h-2.3l-2.9,2.7l-5.5,2.4l-7.8,7.9l-5.9-6.3l0.5-5.2l-6.5-2.3l-2.8,8.2l-4.6,6.6
			l-1.2-1.8v-0.5l-3.8-5l-3.4-1.8l-2.9-2.4l0.4-2.4L651.4,229z M555.3,239.3l-0.7,9.8l2.7,5.5l1.2,2.3l3.8,2.7l-1.3,8.5l-3.5,1.7
			l-0.9,3.2l0.4,1.5l-5.6,2.9l7.2,2.4l5.9,3.7l4.9,1.7l15.3,0.5l1.2,2.1l4.4,2l7.4,2.9l4.6-0.7l20.7-8.1l10.1-10.1l2.6-1.1l2.7,1.1
			l-0.4,1l3.9,2.2l4.4,0.2l1.1-1.7l7.1,2.2l0.9-2.3l-2.1-4.9l1.3-6.2l2.7-3.9l1.1-5.9l0.7-0.9l-18.3,0.1l-8.4-1l-1-3.3l-4.1-2.8
			l0.2-3.3l-1.1-1.1l-11.1,4.8l-3.3-3.2l-0.6-2.3l1.7-4.6l-1.8-4.1l-6.7-1.5l-7.4-8.9l-3.8-1.2l-0.2,1.7l-1.8,2.1l-1.3,4.1l-5.5,3.9
			l-5-0.2l-4.1,3.5l-2.1-0.9l-2.3-4.6l-0.6-1.2l-1.5,0.4l-0.9,3.8l0.4,3.2l-2.1,0.9l-2.9-1.5L555.3,239.3z M438.1,215l-0.9-10.2
			l-3.2-3.3l-3.8,2.2l-3.3-0.9l-2.4-1.8l-5.5,4.5h-2.3l-3.7,3.8l3.7,1.8l12.2,7.2l2.7,3.4l4-5.9L438.1,215z M468.3,238.9l1.5-5.7
			l5.9-2.4l-1-4.4l2.7-1.8l6.7,2.7l7.6-2l3.9,2.1l1.1-0.6l5.4,0.9l-2.4-7.7l0.6-2.9l0.6,0.6l1.1,0.9l2.1-1.5l7.4-11.8l2.1-2.6
			l0.5-8.3l1.2-1.7l-1.3-1.6l-4.4-5l-2,3.8l-2.6,2.1l-3.5-1.5l-3.5,1.2l-2.3-2.3l-3.7-1.7L487,189l-1.6-0.9l-1.5-4.6l-2.3-1.7
			l-2.7,2.3l-3.8,0.6l-2.3-0.9l-0.2-2.1l-2.7-2l-8.2,2.7l-5,1.8l-2.9,2.1h-4.1l-1.6,2.3l0.2,1.7l2.1,1l3.8,0.2l0.6,1.2l-1.7,4l2.2,5
			l2.6,0.2l0.9,1.2l-1.1,3.8l-7.3,2.1l-2.9,4.1l-3.5-0.5l-1.2-0.9l-2.8,2.3l-1.6,0.6l-2.4,0.9l-4,5.9l6.5,7.9l28.1,10L468.3,238.9z
			 M468.3,238.9l1.5-5.7l5.9-2.4l-1-4.4l2.7-1.8l6.7,2.7l7.6-2l3.9,2.1l1.1-0.6l5.4,0.9l-2.4-7.7l0.6-2.9l0.6,0.6l1.1,0.9l2.1-1.5
			l1.2,0.6l4.1,9.6l1.8,0.2l5.4-4.8h3.8l3.5-3.1l3.8,0.9l2.4,3.9l2.3,1.5l2.1-1.8l1.5,0.4l3.3,4.5l0.2,2.3l6.5,5.9l6.7,0.2l2.7,2
			l-0.7,9.8l2.7,5.5l1.2,2.3l3.8,2.7l-1.3,8.5l-3.5,1.7l-0.9,3.2l0.4,1.5l-5.6,2.9l-5.9-5.1H541l-8.5-2.2l-9.9-2.6l-5.1-4.6
			l-5.2-0.6l-19.9-7.7l-13.1-9.5l-6-6.1l-3.2-0.7L468.3,238.9z M540.4,211.1l-0.9-7.1l-1.6-3.2l-3.8-1.7l-2,7.7l1.5,2.3l-2.1,2.6
			l0.1,3.3l-4.1,5.5l-3.8-0.9l-3.5,3.1h-3.8l-5.4,4.8l-1.8-0.2l-4.1-9.6l-1.2-0.6l7.4-11.8l2.1-2.6l0.5-8.3l1.2-1.7l-1.3-1.6
			l3.5-4.5l0.2-1.8l2.7-0.9l11.5,10l1.8-4l5-1.2l1.5,0.9v3.5l2,0.6h4.1l1.5,3.2l-0.1,1.7l-0.4,3.3l0.6,0.9l-0.2,11.1l-0.1,0.7
			l-4.9-1.6L540.4,211.1z M527.6,220.5l2.4,3.9l2.3,1.5l2.1-1.8l1.5,0.4l3.3,4.5l2.8-2.7l5-0.9l-0.9-4l1.1-1.8l-0.6-2.3l0.7-2.8
			l-4.9-1.6l-2.1-1.7h-3.2l-3.5-2l-2.1,2.6l0.1,3.3L527.6,220.5z M534.2,199.1l-2,7.7l1.5,2.3l3.5,2h3.2l-0.9-7.1l-1.6-3.2
			L534.2,199.1z M547.5,198.4l5.7-0.4l0.9-1.2l3.5-0.5l5.9,1.6l1.7,1.7l0.1,2.4l4.2,1.7l1.1,1.2l-6.7,2.9l-2.3,0.4l-3.3,2.3
			l-3.2-2.3l-4.1-5l-3.2-0.7l-0.6-0.9L547.5,198.4z M591.2,224.9l-1.3,4.1l-5.5,3.9l-5-0.2l-4.1,3.5l-2.1-0.9l-2.3-4.6l-0.6-1.2
			l-1.5,0.4l-0.9,3.8l0.4,3.2l-2.1,0.9l-2.9-1.5l-7.9,3l-2.7-2l-6.7-0.2l-6.5-5.9l-0.2-2.3l2.8-2.7l5-0.9l-0.9-4l1.1-1.8l-0.6-2.3
			l0.7-2.8l0.1-0.7l0.2-11.1l3.2,0.7l4.1,5l3.2,2.3l3.3-2.3l2.3-0.4l6.7-2.9l-1.1-1.2l-4.2-1.7l-0.1-2.4l-1.7-1.7l-5.9-1.6l-1-5.6
			l2.6-4.4l-1.2-4.6l2.1-3.5l2.1-1.2l1.6-6.6l1.8-0.9l1.5,1.5l0.2,1.8l4.3,2.6l-0.9,2.3l-3.5,0.6v4.2l3.5,2.6l4.4-2.3l4.6,2.2l0.9,1
			l-3.1,4.4v5.2l-2.9,3l3.3,4.9l4.8,2.9l0.5,0.9l-4,2.1l1.8,6.3l-2.9,0.6v2.9l4.8,2.3l0.5,2.4l4.4-0.6l1.2-0.5L591.2,224.9z
			 M549.3,155.9l2.1,4.6l1.5,0.9l2-0.6l2.6,2.1l-1.5,6.1h-4.1l-2.1,2.1l0.9,2.7l-1,3.5l0.6,2l0.9,1l6.1-4.8l2-2.1l1.5,1.5l-0.5,3.3
			l-2.1,3.5l1.2,4.6l-2.6,4.4l1,5.6l-3.5,0.5l-0.9,1.2l-5.7,0.4l0.1-1.7l-1.5-3.2H542l-2-0.6v-3.5l-1.5-0.9l-5,1.2l-1.8,4l-11.5-10
			l0.6-2.7v-3.4l4.5-2.6l0.9-1.1v-3.3l4.8-4.6l1-4.4l5.6-0.7L537,158l3.5,1.5l2.1,1.8l4.4-0.6L549.3,155.9z M513.8,190.9l3.5-4.5
			l0.2-1.8l2.7-0.9l0.6-2.7v-3.4l4.5-2.6l0.9-1.1v-3.3l4.8-4.6l1-4.4l5.6-0.7L537,158l-1.7-4.3l-2.7-2.9l-5,4.1l-4.6-2l-2.3,2.1
			l1.7,3.8l-1.2,2.1l-4.4,0.6l-1,1.7l-2.7,3.5l-6.7,0.7l-3.2,5.5l2.1,2.7l4.1,10.3L513.8,190.9z M474,142l-7.3,8.3l-4.5-1.2
			l-3.5-1.1l-0.6-6.3l0.6-1.8l-1.1-2.9l0.4-1.7l3.5-1.3l2.9-2.9l5.9,4.8l0.7,2.3L474,142z M469.9,179.8l2.1-3.2l-2-6.2l5.2-8.1
			l3.4-2.3l2.4-2.3l-1-3.8l1.5-2.1l-0.4-5l1.3-1.7l5.1,0.5l2.9,2.3h3.2l6,4.9l2.7,1.1l4.4-3.8l13.8,4.9l1.7,3.8l-1.2,2.1l-4.4,0.6
			l-1,1.7l-2.7,3.5l-6.7,0.7l-3.2,5.5l2.1,2.7l4.1,10.3l-2,3.8l-2.6,2.1l-3.5-1.5l-3.5,1.2l-2.3-2.3l-3.7-1.7L487,189l-1.6-0.9
			l-1.5-4.6l-2.3-1.7l-2.7,2.3l-3.8,0.6l-2.3-0.9l-0.2-2.1L469.9,179.8z M413.1,209.2l3.7-3.8h2.3l5.5-4.5l2.4,1.8l3.3,0.9l3.8-2.2
			l3.2,3.3l0.9,10.2l1.6-0.6l2.8-2.3l1.2,0.9l3.5,0.5l2.9-4.1l7.3-2.1l1.1-3.8l-0.9-1.2l-2.6-0.2l-2.2-5l1.7-4l-0.6-1.2l-3.8-0.2
			l-2.1-1l-0.2-1.7l1.6-2.3h4.1l2.9-2.1l5-1.8l8.2-2.7l2.1-3.2l-2-6.2l5.2-8.1l3.4-2.3l2.4-2.3l-1-3.8l1.5-2.1l-0.4-5l1.3-1.7h-0.1
			l-7.9-3.8L474,142l-7.3,8.3l-4.5-1.2l-3.5-1.1l-0.6-6.3l-2,0.2l-2.4,2.3l2,6.5l2.1,2.3l-0.6,2.7l-3.8,3.2l-5,0.4l-0.5,4.6h-1.7
			l-12.4-3.7l0.2-6.5l3.5-1.2l1.1-2.9l-0.6-2.6l9.5-10.1l-0.2-2.1l-4.1-3.9l-1.7,2.9l-4.6,5.9l-1.5-0.9l0.2-9.8l-1.2-1.1l-2.9,6.8
			l-1.2-1.5l1.5-7.9l-2.4-1.7l-1.6,4l1.5,3.3l-7.9,2.9l-1.6,5.4l1.7,3.7l3.2,3.8l-1,5.9l4.4,4.4l-4.4,4.1l-1.2,0.2l-1.3,9.8
			l-0.2,0.5l-6.2-4.8l-4.4-2.4l-7.8,2.8l-2.7,5.6l-1.2,2.9L394,177l-4,1.5l0.9,2.7l2.7,7.6l12.2,16.8L413.1,209.2z M392.4,128.5
			l2.3-1l0.6-1.8l-2.2-3.7l2.7-2.8l-0.4-2.6l1.2-1.5l7.9,2.1l3.4,3.3l-1.1,3.4l-0.7,2.6l1.1,0.5l2.7-0.6l3.2,0.6v1.2l3.5,3.5l2.3-1
			l2.3,1.5l-0.2,1.7l-1.6,5.4l1.7,3.7l3.2,3.8l-1,5.9l4.4,4.4l-4.4,4.1l-1.2,0.2l-1.3,9.8l-0.2,0.5l-6.2-4.8l-4.4-2.4l-7.8,2.8
			l-2.7,5.6l-4.4-2.9l-1.7-0.5l1.1-2.3l4.1-3.4l1.3-4l0.9-5.9l-5-3.9l-4.5-10.6l0.5-2.4l2.8,2.6l0.9-0.9l-3.4-5.1L392.4,128.5z
			 M392.4,128.5l-2.9-0.6l-3.9-5.9l-2.4-2.3l0.6-1.5l-13.5-14.3l-6.6-10.4l-2.3-4.1l-6.2-3.1l-3.5-7.1h-3.9l-4.4-4.6l-0.4-3.3
			l-1.7-3.3v-1.8l-5.9-3.8l-4.3-3.2l-4.1-4l-2-2.1l-1.5,2.1l-7.7-4.3l-1.1-0.2v-2.1l-2.2-4.4l1.5-4.1l3.2-3.9l-0.2-1.8l10.1-7.2
			l7.4-7.4l3.8-1.8l5,2.2l1.3,1.8l0.2,3.2l2.7,4.4l1,8.5l5.2,2.1l3.5,0.7l6.2,12.3l-1.8,8.8l2.9,9.3l6.5,6.3l1.8,6.5l2.7,1.7
			l3.8-2.3l6.8,6.1l0.9,7.3l3.1,6.3l0.6,5.4l6,6.6l-1.2,1.5l0.4,2.6l-2.7,2.8l2.2,3.7l-0.6,1.8L392.4,128.5z M363.5,53.2l7.9-1.3
			l3.8-3.8l0.9-4.4l2-1.5l-0.5-5.2l1.5-1.5l2.6-1.6l2.6-7.3l2.1-1.5l5.9,4.4l1.7-0.7l7.4,5l4.3-1l9.2,2.6l3.3,1.7l7.8-10l11.1,2.2
			l8.1,9.6l-1.8,6.5l0.1,7.1l-2.9,6.7l0.5,5.2l4.4,4.6v2.4L454,76l3.7-7.6l3.3,9.2l-0.6,5l-16.6,1.1l-11.6,8.7l-0.5,10l-5,5.2
			l-2,6.5l-1.1,1.7l-2.3,16.5l-2.3-1.5l-2.3,1l-3.5-3.5V127l-3.2-0.6l-2.7,0.6l-1.1-0.5l0.7-2.6l1.1-3.4l-3.4-3.3l-7.9-2.1l-6-6.6
			l-0.6-5.4l-3.1-6.3l-0.9-7.3l-6.8-6.1l-3.8,2.3l-2.7-1.7l-1.8-6.5l-6.5-6.3l-2.9-9.3L363.5,53.2z M457.7,68.4l3.3,9.2l-0.6,5
			l-16.6,1.1l-11.6,8.7l-0.5,10l-5,5.2l-2,6.5l-1.1,1.7l-2.3,16.5l-0.2,1.7l7.9-2.9l-1.5-3.3l1.6-4l2.4,1.7l-1.5,7.9l1.2,1.5
			l2.9-6.8l1.2,1.1l-0.2,9.8l1.5,0.9l4.6-5.9l1.7-2.9l4.1,3.9l0.2,2.1l-9.5,10.1l0.6,2.6l-1.1,2.9l-3.5,1.2l-0.2,6.5l12.4,3.7h1.7
			l0.5-4.6l5-0.4l3.8-3.2l0.6-2.7l-2.1-2.3l-2-6.5l2.4-2.3l2-0.2l0.6-1.8l-1.1-2.9l0.4-1.7l3.5-1.3l2.9-2.9l5.9,4.8l0.7,2.3l3,4
			l0.5-0.6l7.9,3.8h0.1l3.3-4.3l-0.1-4.4l1.2-6.1l-1.2-2.9l-3.2-0.2l-4.1,3.5h-1.1l-9.8-10.1l-0.4-4.6l-1.5-2.9l2.6-3.8l1.7-0.4
			l8.5-6.6l9.5-8.5l3.2-4.8l6.3-8.5l-2.3,0.4l-6.1-5.5l-3.9-0.4l-4.9,0.1l-0.6-1.7l-8.1-5.6l-9.4-1.3L457.7,68.4z M513.8,112.2
			l3.8,4.1v1.7l-2.7,3.9l10.1,4.8l2.7-1.7l2.3,0.6l2.9,4.4l7.9,3.1l6.7-1.5l4,4.3l-0.1,1.8l-3.2,4.1l1.5,4l-2.6,3.9l1.7,2.1l0.4,4
			l-2.3,4.8l-4.4,0.6l-2.1-1.8L537,158l-1.7-4.3l-2.7-2.9l-5,4.1l-4.6-2l-2.3,2.1l-13.8-4.9l-4.4,3.8l-2.7-1.1l-6-4.9h-3.2l-2.9-2.3
			l-5.1-0.5l3.3-4.3l-0.1-4.4l1.2-6.1l-1.2-2.9l-3.2-0.2l-4.1,3.5h-1.1l-9.8-10.1l-0.4-4.6l-1.5-2.9l2.6-3.8l1.7-0.4l8.5-6.6
			l9.5-8.5l3.2-4.8l6.3-8.5l6,9.4l-0.2,6.7l3,4l-0.2,11.5l1.8,1.2l2.9-1.3L513.8,112.2z M651.4,229l-6.2,3l-4.8-1.8l-5-7.4l-3.5-0.9
			l-5-3.2l-13.8-0.7l-3.5-2.9l-6.8-8.2l-5.4-12l-7.7-10.5l-11.3-15.7l-5-12.1l-1-1.2l-3.4-3.8l-2.1-7l5.6,5.4l0.5,4.5l0.1,1l1.3-0.1
			l0.6-3.2l-2.1-2.7l-6.6-6.7l-2.6-9.8l-9.3-2.7l-2.3,1.5l-4.6-0.2l4,4.3l-0.1,1.8l-3.2,4.1l1.5,4l-2.6,3.9l1.7,2.1l0.4,4l2.1,4.6
			l1.5,0.9l2-0.6l2.6,2.1l-1.5,6.1h-4.1l-2.1,2.1l0.9,2.7l-1,3.5l0.6,2l0.9,1l6.1-4.8l2-2.1l1.5,1.5l-0.5,3.3l2.1-1.2l1.6-6.6
			l1.8-0.9l1.5,1.5l0.2,1.8l4.3,2.6l-0.9,2.3l-3.5,0.6v4.2l3.5,2.6l4.4-2.3l4.6,2.2l0.9,1l-3.1,4.4v5.2l-2.9,3l3.3,4.9l4.8,2.9
			l0.5,0.9l-4,2.1l1.8,6.3l-2.9,0.6v2.9l4.8,2.3l0.5,2.4l4.4-0.6l1.2-0.5l2.3,2.1l1.8-2.1l0.2-1.7l3.8,1.2l7.4,8.9l6.7,1.5l1.8,4.1
			l-1.7,4.6l0.6,2.3l3.3,3.2l11.1-4.8l1.1,1.1l-0.2,3.3l4.1,2.8l1,3.3l8.4,1l18.3-0.1l3.9-4.4l1.2-1.7l-1.2-1.8v-0.5l-3.8-5
			l-3.4-1.8l-2.9-2.4l0.4-2.4L651.4,229z M574.8,45.7l1.6,1.5L572.7,60l-3.5,7l-3.3,15.3l-0.6-0.2l2.8-15l2.8-6l-1.3-1l-1,2
			l-2.6-0.9l-2.1,2.1l0.9,2.1l-0.9,4l2.3,2.1l-1.6,2.7l0.2,4.6l-1.7,2.9l0.2,0.9l2.1,1.2l-1.1,5.2l-0.1,14.4l0.7,12.3v5.2l-2.8,6.1
			l1.6,6.1l-9.3-2.7l-2.3,1.5l-4.6-0.2l-6.7,1.5L533,130l-2.9-4.4l-2.3-0.6l-2.7,1.7l-10.1-4.8l2.7-3.9v-1.7l-3.8-4.1l1.3-4.4h2.9
			v-5.5l1.5-2.1l3.5-0.6l3.9-4.1l-2.6-5l0.4-7.1l-2.3-2.2l1.5-2.2l6.7-3.8l2.9-0.6l1.1-7l2.1-0.5l2.1,0.9l7.3-6.1l2.2-3.5l-2.7-5
			l-0.1-7.6l-1.5-1.5l-4.4,1.2l-3.8-2.4l-2.1-0.4l-1.7-4.4l-3.5-1.8l-0.4-5.5l-3.9-1.5l-0.5-3.5l-2.9-1.7l-0.1-5.9l-0.4-4.9
			l-2.9-1.2l-0.6-2.3l3.4-4.4l3.5,1.3l1.6,2.6l-0.9,3.3l2.3,4.4l-0.2,2.9l5,9l2.8,6.7l6.1,1.3l3.5,2.9l6.5,1.1l4.6,3.2l10.6,0.9
			l4.8,2.6L574.8,45.7z M497.6,80.5l0.9-6.2l1.1-2.9l-1.7-1.7l0.5-2.3l7.1-2.7l1.2-2.1l-2-3.4l-6.5-6.5l-0.9-5.6l-3.7-4.5l-2-1.2
			l-2.1-4l7.8-7.2l1.7,0.9l3.2-3.5l1.2-4.4l-1.5-2h-2.3l-1.6-2.7l0.6-2.3l6.7-3.8l1.6-5.4l3.5-2.7l3.8,2.9l4.5-3.5l1.3,2.1l-3.4,4.4
			l0.6,2.3l2.9,1.2l0.4,4.9l0.1,5.9l2.9,1.7l0.5,3.5l3.9,1.5l0.4,5.5l3.5,1.8l1.7,4.4l2.1,0.4l3.8,2.4l4.4-1.2l1.5,1.5l0.1,7.6
			l2.7,5l-2.2,3.5l-7.3,6.1l-2.1-0.9l-2.1,0.5l-1.1,7l-2.9,0.6l-6.7,3.8l-1.5,2.2l2.3,2.2l-0.4,7.1l2.6,5l-3.9,4.1l-3.5,0.6
			l-1.5,2.1v5.5h-2.9l-1.3,4.4l-2.9-0.2l-2.9,1.3l-1.8-1.2l0.2-11.5l-3-4l0.2-6.7L497.6,80.5z M165.9-129l48.9,1.3l-2.4,5l-3.7,3.3
			l-1.7,6.5l0.6,2.9l5.2,4.3l0.6,1.5l-0.5-0.4L211-105l-2.8,15.1l0.6,3.5l1.5,2.7l1.3,19.6l3.3,6.2l3,2.9l8.4,9.3l5.1,8.8l0.4,2.7
			l4.4,1.5l2.7,9.5l4.8,2.9l1,5l0.9,2.1v1.5l-29-1.8l0.6-2.7l0.7-4.4l2.1-4.4l-6-7.9l-4.4-5.1L200-48.8l-4-3.1l-7.8-7.1v-2.3
			l-1.7-2.4l0.1-8.1l-4-4L181.8-86l-3.5-2.9l-0.4-5.9l-3.5-5.9l-1.5-2.8l-0.2-2.9l1.8-3.7l-1.5-2.8l-2.6-1.5l-1.6-5.9l-3.3-5.9
			l0.6-2.3l-0.4-0.7L165.9-129z M518.9,3.6l-5.4-8.5L509-7.9l-0.9-2.7l-7.8-17.2l-7.9-8.7l-9.5-7.8l-7.3-0.2l-8.8-2.3l-2.7,2.4
			l-2.9,0.2l-3.7,2.4l-2.7,7.1l-6,8.4l-3.2,0.4L431.3,0.3l5.5,28.9l8.1,9.6l-1.8,6.5l0.1,7.1l-2.9,6.7l0.5,5.2l4.4,4.6v2.4L454,76
			l3.7-7.6l4.6-2l9.4,1.3l8.1,5.6l0.6,1.7l4.9-0.1l3.9,0.4l6.1,5.5l2.3-0.4l0.9-6.2l1.1-2.9l-1.7-1.7l0.5-2.3l7.1-2.7l1.2-2.1
			l-2-3.4l-6.5-6.5l-0.9-5.6l-3.7-4.5l-2-1.2l-2.1-4l7.8-7.2l1.7,0.9l3.2-3.5l1.2-4.4l-1.5-2h-2.3l-1.6-2.7l0.6-2.3l6.7-3.8l1.6-5.4
			l3.5-2.7l3.8,2.9L518.9,3.6z M445.7-25.9L431.3,0.3l5.5,28.9l-11.1-2.2l-7.8,10l-3.3-1.7l-9.2-2.6l-4.3,1l-7.4-5l-1.7,0.7
			l-5.9-4.4l-2.1,1.5l-2.6,7.3l-2.6,1.6l-1.5,1.5l0.5,5.2l-2,1.5l-0.9,4.4l-3.8,3.8l-7.9,1.3l-6.2-12.3l-3.5-0.7l-5.2-2.1l-1-8.5
			l-2.7-4.4l-0.2-3.2l-1.3-1.8l-5-2.2l-3.8,1.8l-3.2-3.9l-0.1-8.8l-1.5-2.6l-4.4-7.2l-2.8-7.9l2.7-2.9l7.6,2.6l1.2-1.2l-1-10.9
			l-0.5-15.3l2.1-2.3l1.3-15.5l-2.2-12.6L333-81l-2-0.9l1.5-4.1l12.9,0.5l-0.2-2.3l0.2-7.7l34.7,0.7l5.5,6.2l4.8,4.4l7.7,7.8l5.2,5
			l8.7,6.3l2.3,7l2.4,3.5l0.4,7.3l4.8,7.6l3.5,1.7l4.6,4.1l3.5,0.4l4.5,3.5l2.7,0.6L445.7-25.9z M213.5-104.2l-0.6-1.5l-5.2-4.3
			l-0.6-2.9l1.7-6.5l3.7-3.3l3.9,2l72.4,32.6l43.8,2.1l-1.5,4.1l2,0.9l0.7,12.3l2.2,12.6l-1.3,15.5l-2.1,2.3l0.5,15.3l1,10.9
			l-1.2,1.2l-7.6-2.6l-2.7,2.9l2.8,7.9l4.4,7.2l1.5,2.6l0.1,8.8l3.2,3.9l-7.4,7.4l-10.1,7.2l-0.5-5.2l-3.8-4.8l-3.2,0.9l-3.8-1.5
			l-2-7.1l-4.6-2.8l-3.3-1.1l-4.1-4.4l-1.5-7.8l0.9-5.1l-5.1-1.3l-1.1,0.6l-0.6,0.6l-3.3-2.1l-3.8-3.7l-3.2-6.8l-7.2-6.1l-2.3-2.6
			v-2.9l-4.8-6.3l-0.6-5.4l-2.9-2l0.1-2.9l-6.8-12.8l-0.2-5.9l-2.2-5.6l-3.3-7.3l1.1-7v-2.9l-3.8-2.7l-2.7-0.2l-6.8-7.6l-2.9-1.5
			l-3.5,2l-7-5L213.5-104.2z M245.5-11.6v1.5l1.8,7l5.4,5.7l1.5,4.8l4.1,4l1.5,0.6v3.5l1.5,3.2l1,4.4l2.1,2.1v-3.5l-1-2.6l0.6-1
			l4.5,4.6l0.2,3.2l1.5,1.5l-0.6,1.8l2.1,4.4l0.5,4.4l-1.5,2.9l3.9,8.2l3.2,2.2l0.9,5.6l4,7.8l1.5,3.9l-1.3,7.3l1.5,4.9l5.9,3.9
			l1.5-1.3l0.2-2.9L294,81l5.1,6.7l2.3,0.9l0.9,4.4l1.8,4.3l5.1,6.5l-2.1,6.1l-5.1,3.4l-2.7,2.6l-1.7,0.4l-3.5-3.8l-2.8-12.1
			l-3.9-3.4l-4.1-2.6l-12.1-12.2l-9.2-8.9h-1.2l-0.6-3.1l-1.5,1l-2.1-3.5L255,67l-2.1-5.9l2.7-16.1l-5.1-12.7l-3.2-1.5l-17.1-14.5
			l-1.8,0.9l-3.2,0.1l-4.4-5.6l-2.7-0.9l-3.3-2.9L209,4.9l-1.2-2.4l-9.1-11.6l0.9-0.5l6.5,1.6l5.2-1.5l2.3,2.8l2.7,0.6l3.5,1.5
			l0.6-1.8l-1-0.9l-2.6-0.6l-2.9-3.2l2.6-2.3L245.5-11.6z M254.1,72.6l-1.8-3.3"/>
		<polygon class="st03" points="574.8,45.7 576.4,47.2 572.7,60 569.2,67 565.9,82.2 565.3,82 568.1,67 570.9,61 569.6,60 568.6,62
			566,61.1 563.9,63.2 564.8,65.3 563.9,69.3 566.3,71.4 564.7,74 564.9,78.7 563.2,81.6 563.5,82.5 565.5,83.7 564.4,88.9
			564.3,103.3 565,115.7 565,120.9 562.2,127 563.8,133.1 566.4,142.9 573,149.6 575.1,152.3 574.4,155.4 573.1,155.6 573,154.6
			572.5,150.1 566.9,144.7 568.9,151.6 572.4,155.4 573.3,156.6 578.3,168.7 589.7,184.5 597.4,195 602.7,206.9 609.6,215.1
			613.1,218 626.9,218.8 631.9,221.9 635.4,222.8 640.5,230.2 645.2,232.1 651.4,229 661.8,224 671.1,222 672.9,223 676.7,221.2
			683.8,218.5 687.8,215.8 698.4,214 699.9,214.9 698.7,217.4 701.6,218.4 702.4,220.1 709.8,218.8 715,214.7 715.4,213.5
			711.7,209.7 714.9,206.6 724.8,198.5 726.5,194.7 726.5,187.4 731.4,181.9 729.5,170.1 730.9,159.7 733.8,154.7 745.1,148.5
			747.5,148.1 768.8,142.5 773.4,139.1 794.3,139.9 799.6,139.8 801,138.6 801.6,138 800.4,136.9 803.6,135.7 806.9,137.4
			810.7,142 809.8,144.6 810.7,147.3 808.7,153.7 800,165.2 797.9,174.6 797.9,179.6 795.2,181.9 793.7,182 793.2,183.5
			795.2,185.4 799.1,184.2 800.2,184.8 799.4,186.9 795.9,189.6 794.8,192 795.3,192.8 798.8,190.7 799.2,192.2 797.7,196.9
			793,215.1 792.6,220.7 791.7,220.6 791.9,215.2 788.1,211.1 788.7,205.5 787.8,204 787.2,204.6 786.4,206.7 782.6,210.5
			777.7,214.1 777.1,216.7 771.7,226.9 766.9,225.1 764.7,227.1 764.4,230.6 758.8,230.3 723.7,233 724,246 715.6,247.2 715,248
			723.3,255.2 731.2,259.9 733.3,264.3 738.1,266.6 738.4,274.5 708.5,276.8 698.2,296.5 701.7,301.5 700.8,303.6 700.4,310
			700.4,314.7 687.6,303.9 685,300.5 668.3,287.9 659.5,280.5 654.4,277.6 647.3,275.4 646.2,277.1 641.8,276.8 637.9,274.6
			638.3,273.7 635.6,272.6 633,273.7 622.9,283.8 602.1,291.8 597.5,292.6 590.1,289.6 585.7,287.7 584.4,285.6 569.2,285.1
			564.3,283.4 558.5,279.8 551.3,277.3 545.4,272.2 541,272.2 532.5,270 522.6,267.4 517.5,262.8 512.2,262.2 492.3,254.5
			479.3,245 473.3,238.9 470.1,238.2 468.3,238.9 466.2,239.6 438.1,229.6 431.7,221.7 429,218.3 416.8,211.1 413.1,209.2
			405.7,205.6 393.5,188.7 390.8,181.2 390,178.5 394,177 398.2,175.8 399.5,172.9 395.1,169.9 393.4,169.5 394.5,167.1
			398.6,163.7 400,159.7 400.8,153.8 395.8,149.9 391.3,139.3 391.8,136.9 394.6,139.4 395.4,138.6 392,133.5 392.4,128.5
			389.5,127.9 385.6,122 383.1,119.7 383.7,118.2 370.2,103.9 363.6,93.6 361.3,89.4 355.1,86.4 351.5,79.3 347.6,79.3 343.2,74.7
			342.9,71.4 341.1,68.1 341.1,66.2 335.3,62.5 331,59.3 326.9,55.3 324.9,53.2 323.5,55.3 315.8,51 314.7,50.7 314.7,48.7
			312.5,44.3 313.9,40.1 317.1,36.2 316.9,34.4 316.4,29.1 312.6,24.4 309.4,25.2 305.6,23.8 303.7,16.7 299.1,13.9 295.8,12.8
			291.6,8.4 290.1,0.6 291,-4.5 285.9,-5.9 284.8,-5.3 284.2,-4.7 280.9,-6.7 277.1,-10.4 273.9,-17.2 266.7,-23.3 264.4,-25.9
			264.4,-28.8 259.6,-35.2 259,-40.5 256.1,-42.5 256.2,-45.4 249.4,-58.2 249.1,-64.1 246.9,-69.7 243.7,-77 244.8,-84
			244.8,-86.9 241,-89.6 238.3,-89.8 231.5,-97.4 228.5,-98.9 225,-96.9 218,-101.9 213.5,-104.2 213,-104.6 211,-105 208.1,-89.8
			208.8,-86.3 210.2,-83.6 211.6,-64 214.9,-57.7 217.9,-54.8 226.3,-45.5 231.5,-36.7 231.8,-34.1 236.2,-32.6 238.9,-23.1
			243.7,-20.2 244.6,-15.2 245.5,-13.1 245.5,-10.1 247.3,-3.2 252.7,2.5 254.1,7.3 258.3,11.3 259.8,11.9 259.8,15.5 261.2,18.6
			262.2,23 264.3,25.1 264.3,21.6 263.3,19 263.9,18 268.4,22.7 268.7,25.8 270.1,27.3 269.5,29.1 271.6,33.5 272.1,37.9
			270.6,40.9 274.5,49 277.7,51.2 278.6,56.8 282.6,64.6 284,68.6 282.7,75.9 284.2,80.8 290,84.7 291.5,83.3 291.7,80.4 294,81
			299.2,87.7 301.5,88.6 302.3,93 304.2,97.2 309.3,103.7 307.2,109.8 302.1,113.2 299.4,115.8 297.7,116.1 294.2,112.4
			291.4,100.3 287.5,96.9 283.3,94.3 271.2,82.1 262.1,73.2 260.9,73.2 260.2,70.1 258.8,71.1 256.7,67.6 255,67 252.9,61.1
			255.6,45 250.5,32.3 247.3,30.8 230.2,16.3 228.4,17.2 225.2,17.3 220.8,11.7 218.2,10.8 214.9,7.9 209,4.9 207.8,2.4 198.6,-9.2
			199.5,-9.7 206,-8.1 211.2,-9.5 213.5,-6.7 216.2,-6.1 219.7,-4.7 220.4,-6.5 219.4,-7.3 216.8,-7.9 213.9,-11.1 216.4,-13.4
			217.1,-16.1 217.8,-20.5 219.9,-24.9 213.9,-32.8 209.5,-38 200,-48.8 195.9,-51.9 188.1,-59 188.1,-61.3 186.4,-63.7
			186.6,-71.8 182.5,-75.8 181.8,-86 178.3,-89 177.9,-94.8 174.3,-100.7 172.9,-103.5 172.6,-106.4 174.5,-110.1 173,-112.9
			170.4,-114.3 168.9,-120.2 165.6,-126.1 166.2,-128.4 165.8,-129.1 165.9,-129 214.9,-127.6 212.4,-122.6 216.3,-120.7
			288.7,-88.1 332.5,-86 345.4,-85.6 345.4,-95.6 380.1,-94.8 385.6,-88.6 390.3,-84.2 398,-76.4 403.3,-71.4 411.9,-65.1
			414.2,-58.1 416.7,-54.6 417,-47.2 421.8,-39.7 425.3,-38 430,-33.8 433.5,-33.5 438,-29.9 440.7,-29.3 445.7,-25.9 448.9,-26.3
			454.9,-34.7 457.6,-41.7 461.2,-44.2 464.1,-44.4 466.8,-46.9 475.6,-44.6 482.9,-44.3 492.4,-36.5 500.4,-27.8 508.2,-10.6
			509,-7.9 513.6,-4.9 518.9,3.6 520.3,5.7 523.8,7.1 525.4,9.6 524.5,12.9 526.9,17.3 526.6,20.2 531.6,29.3 534.4,36 540.5,37.3
			544.1,40.2 550.5,41.3 555.2,44.5 565.8,45.4 570.5,47.9 		"/>
		<polyline class="st02" points="758.1,188.6 760.8,185.9 761.8,184.8 763.4,185.3 764.5,184 763.5,183 765.3,181 765.9,181.6
			768.5,178.7 768,177.6 769.6,175.5 770.9,175.4 771.2,173.1 775.1,171.7 774.7,170.2 779.4,168.6 781.5,167.5 784.8,167.4
			784.5,165.6 785.8,165.1 785.8,163.4 789,163.2 789,165 790.7,165 790.6,161 793.9,160.3 793.3,156 792.5,155.4 793.6,152.6
			793.3,150.3 796.3,149.5 797.9,149.9 797.9,146.9 797.1,146.7 796.7,148.2 792.5,148.2 792.2,144 793.8,143.7 793.8,140.5 		"/>
	</g>
</g>
<g id="rutaDelGolfo" class="ruta-mapa">
	<g>
		<polyline class="st04" points="717.7,246.4 650.7,240.5 602.2,214.1 576.6,178.5 563.8,123.5 555.4,43.2 		"/>
		<circle class="st05" cx="556" cy="43.2" r="7.4"/>
		<circle class="st05" cx="714.5" cy="246.5" r="7.4"/>
	</g>
</g>
<g id="rutaDelCentro" class="ruta-mapa">
	<g>
		<circle class="st05" cx="521.5" cy="4.5" r="7.4"/>
		<circle class="st05" cx="707.3" cy="280.3" r="7.4"/>
		<polyline class="st04" points="521.5,4.1 498.4,54.1 467.7,143.8 524.9,194.1 536.4,211.6 563.5,224.3 648.7,239.5 662.9,276.8
			713,280 		"/>
	</g>
</g>
<g id="rutaDelPacifico" class="ruta-mapa">
	<g>
		<polyline class="st04" points="699.4,309 662.9,276.8 648.7,239.5 563.5,224.3 536.4,211.6 524.9,194.1 467.7,143.8 439.9,175
			410,152.7 385.3,103.2 349.4,61.2 323.1,42.2 288,-88.5 215.7,-114.4 172.6,-123.4 		"/>
		<circle class="st05" cx="173.9" cy="-123.3" r="7.4"/>
		<circle class="st05" cx="289.5" cy="-88.5" r="7.4"/>
		<circle class="st05" cx="704.4" cy="311.8" r="8.1"/>
	</g>
</g>
<g id="frontera">
	<polyline class="st06" points="700.4,314.7 700.8,303.6 701.7,301.5 698.2,296.5 708.5,276.8 738.4,274.5 738.1,266.6 733.3,264.3
		731.2,259.9 723.3,255.2 715,248 724,246 723.7,233 763.9,230 764.7,227.1 766.9,225.1 771.7,226.9 777.1,216.7 777.7,214.1
		786.4,206.7 787.8,204 788.1,211.1 793,215.1 792.7,219 	"/>
</g>
</svg>
